/*
=========================
    Global CSS
=========================
*/

:root {
    --white: #ffffff;
    --background-clr: #f0e5db;;
    --green:rgb(115, 172, 162);
    --black: rgba(0, 0, 0, .5);
    --silver: #575e5e;
}

body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-image: url('/img/wood.jpg');
    background-position: center center;
    background-repeat: none;
    background-size: cover;
}

.mrgn-auto {
    margin: 0 auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/*
======================
    Edit Section 
======================
*/

h1 {
    padding: 20px 0;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.edit {
    margin: 40px 0;
}

form label {
    margin-bottom: 5px;

    font-size: 20px;
    letter-spacing: 1px;
}

/* 
    Select Dropdown & :: After Dropdown effect
*/

form select,
form input,
form textarea {
    /* box model */
    padding: 10px 8px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--background-clr);
    /*type*/
    color: grey;
    font-size: 18px;
    /*misc*/
    appearance: none;
}

form::before {
    /* positioning */
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /*box-model*/
    background-color: var(--black);
    z-index: -1;
}

form select {
    cursor: pointer;
}

::placeholder {
    font-size: 20px;
    letter-spacing: 1px;
}

.select-wrapper {
    position: relative;
}

.after::after {
    /* positioning */
    content: '\25BC';
    position: absolute;
    bottom: 0;
    right: 0;
    /* box model */
    padding: 9px;
    border-radius: 0 10px 10px 0;
    background-color: var(--silver);
    cursor: pointer;
    /*type*/
    font-size: 20px;
    color: white;
    /*functionality*/
    transition: .25s all ease;
}

.select-wrapper:hover::after {
    color: var(--green);
}

/*
    Form and Form After Effect
*/

form {
    justify-content: center;
    /* positioning */
    position: relative;
    /* box model */
    width: 90%;
    background-color: transparent;
    border: 1px solid black;
    /*type*/
    color: var(--white);
    /* misc */
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
}

/*
    Form Inputs and Text-areas positioniong
*/

.group--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    padding: 20px;
}


.group--wrapper .select-wrapper {
    width: 20%;
}

.title {
    width: 50%;
}

.descr {
    width: 50%;
}

.ingredients,
.steps {
    width: 70%;
}

button {
    padding: 15px 0px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;

    width: 10%;
    border-radius: 10px;
    background-color: var(--background-clr);
    outline: none;

    font-size: 22px!important;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

button:hover{
   background-color: var(--green);
   color: var(--white)
}

/*
======================
  Responsive design
======================
*/

@media screen and (max-width:768px) {
    .title {
        width: 80%;
    }

    .descr {
        width: 70%;
    }

    .ingredients,
    .steps {
        width: 70%;
    }

    .group--wrapper {
        flex-direction: column;
    }

    .group--wrapper .select-wrapper {
        width: 40%;
    }

}