.food-item {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;

	height: 70px;
	width: 70%;

	padding: 5px 10px;
	margin: 10px auto;
	border-radius: 0px;
	border-bottom: 2px solid #d1d3d4;
	background-color: var(--white);
}

.food-item p {
	font-size: 22px;
	letter-spacing: 1px;
	cursor: pointer;
	padding: 20px 0px;
}

.btn-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 130px;
}

.btn-wrapper button {
	cursor: pointer;
	color: var(--white);
	padding: 4px 8px;
	width: 40px;
}

.food-item .btn-wrapper .add {
	background-color: var(--grass-green);
	position: absolute;
	right: 5px;
}