/*
=========================
    Global CSS
=========================
*/

body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-color: var(--body);
    height: 100vh;
}

/*
=========================
   Articles section
=========================
*/

.section-info {
    margin-bottom: 20px;

    text-align: center;
    line-height: 2;
    letter-spacing: 2px;
}

.title {
    font-size: 25px;
    font-weight: bolder;
}

.articles {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 30px;
}

/* 
    Articles grid 
*/

.image-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
}

.article-item .info {
    position: absolute;
    left: 50%;
    bottom: 10px;

    transform: translate(-50%, 0);
    z-index: 1;
}

/* 
    Article Pseudo element 
*/

.article-item {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.article-item::after {
    /* position */
    content: '';
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    left: 0;
    /*box-model*/
    background: linear-gradient(180deg, rgba(219, 219, 100, 0) 11%, rgba(10, 10, 5, 0.9191877434567577) 85%);
}

/* Image hover effect */
.article-item img {
    height: 100%;
    position: relative;
    transition: all .4s lienar;
}

.article-item:hover img {
    transform: scale(1.1);
    transition-duration: 2s;
}

/* Article fonts */
.info h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;

    z-index: 1;
}

.info p {
    text-align: center;
    color: #fff;
}

.info span {
    padding-left: 5px;
    margin-left: 5px;

    border-left: 1px solid #fff;
}


/*
=========================
   Media Mobile Screen
=========================
*/

@media screen and (max-width:768px) {
    .image-grid {
        grid-template-columns: repeat(2, 220px);
        gap: 10px;

        padding: 0 20px;
    }

    .article-item {
        height: 140px;
    }


    /* Article fonts */
    .info h3 {
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;

        margin-bottom: 15px;
        width: 100%;

        color: #fff;

        z-index: 1;
    }

    .info h3:hover{
        text-decoration: underline;
    }

    .info p {
        text-align: center;
        color: #fff;
    }

    .info span {
        padding-left: 5px;
        margin-left: 5px;

        border-left: 1px solid #fff;
    }




}