/* <nav> */
.navbar {
    height: 80px;
    background-color: var(--grass-green);
    padding: 0 1rem;
}

/* <ul> */
.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar wrappers */
.wrapper {
    display: flex;
    gap: 7px;
}

.wrapper-dropdown {
    display: flex;
    gap: 15px;
}

/* Sign section */
.sign-wrapper {
    display: flex;
    align-items: center
}

.sign-up-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 70px;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: var(--user--login--btn--bckgrnd);
    color: var(--white);
    font-size: 20px;
}

.sign-up-links a:hover {
    color: var(--black);
}

/* Logo */
.logo {
    width: 100px;
    height: auto;
    border-radius: 70%;
}

.logo:hover {
    box-shadow: white;
}

