/* <nav> */
.navbar {
    height: 60px;
    background-color: var(--grass-green);
    padding: 0 1rem;
}

/* <ul> */
.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar wrappers */
.wrapper {
    display: flex;
    gap: 7px;
}

.wrapper-dropdown {
    display: flex;
    gap: 15px;
}

/* Sign section */
.sign-wrapper {
    display: flex;
    align-items: center
}

.sign-up-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 47px;
    padding: 8px 10px;
    background-color: var(--user--login--btn--bckgrnd);
    border-radius: 8px;
}

.sign-up-links .link-item {
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;

    transition: color .2s ease-in;
}

.sign-up-links span {
    font-size: 18px;
    color: var(--white);
}

.sign-up-links a:hover {
    color: var(--black);
}

.logout-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
    transition: color .2s ease-in;
    cursor: pointer;
}

.logout-btn:hover{
    color: var(--black);
}

/* Logo */
.logo {
    width: 80px;
    height: auto;
    border-radius: 70%;
}

.logo:hover {
    box-shadow: white;
}

.profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}