/*
==================
    Global CSS 
==================
*/

body {
    min-height: 100vh;
    display: flex;  
    flex-direction: column;
    font-family: "Roboto";
    box-sizing: border-box;
    background-image: linear-gradient(180deg, rgba(240, 249, 249, 0.8744631641719187) 10%, rgba(231, 247, 247, 0.986) 50%, rgba(240, 249, 249, 0.7147059507396709) 100%);
    /* footer comp. : bottom-top:auto */
}

:root {
    --white: #ffffff;
    --body: #F0F9F9;
    --search--bckgrnd-clr: #E2F3F3;
    --background-clr: #f0e5db;
    --light-gray: rgb(218, 213, 213);
    --grey: #A8ACAF;
    --silver: #575e5e;
    --select-background-clr: #888f8f;
    --lightgray: lightslategray;
    --form-pseudo-background-clr: rgba(156, 163, 163, 0.5);
    --black: black;
    --red: #FF0000;
    --green: rgb(115, 172, 162);
    --grass-green: #19A68C;
    --orange: orange;
    --brown: brown;
    --blue: #0a8ea6;
    --blue-ocean: #2691d9;
    --lightgreen: #9efcff;
    --user--login--btn--bckgrnd: #B54484;
    --form-elements-background-clr: rgba(224, 230, 230, 0.986);
    --linear-blue-pink: linear-gradient(135deg, #71b7e6, #9b59b6);
    --box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    --box-shadow-grocery-list: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    --transparent: transparent;
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: var(--white);
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

section {
    margin: 20px auto;
    max-width: 1700px;
    min-width: 400px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

