<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common_fragments/head::head"></head>

<body class="profile-body">
<div th:replace="common_fragments/navbar.html::navigation"></div>

<section class="mt-5">
    <div class="container " th:object="${currentUser}">
        <div class="row d-flex justify-content-center ">

            <div class="col-md-3 text-center  ">
                <div class="user-profile-pic">
                    <img th:src="*{imageUrl}" alt="" class="mb-3"
                         style="width: 200px; height: 300px ; position: relative">
                </div>

                <div class="mt-3">
                    <p>Choose picture: </p>
                    <form
                            th:method="post"
                            th:action="@{/users/profile}"
                            enctype="multipart/form-data">
                        <input type="text" name="title" id="" class="mb-2">
                        <input name="picture" type="file" placeholder="Enter some name of the picture.." class="mb-2">
                        <input type="submit" value="Submit" class="mb-2">
                    </form>
                </div>
            </div>

            <div class="col-md-4 ps-4 pt-2 user-profile-headings">
                <h4>Personal details : </h4>
                <h3>First name : <span th:text="*{firstName}">Yavor</span></h3>
                <h3>Last name : <span th:text="*{lastName}">Hristozov</span></h3>
                <h3>Age : <span th:text="*{age}">31</span></h3>
                <h3>Email : <span th:text="*{email}">yavor@abv.bg</span></h3>
                <div th:if="*{description}" class="mt-5 ">
                    <div>
                        <h3>Some words about me : </h3>
                        <p th:text="*{description}">
                        </p>
                    </div>
                </div>


            </div>
        </div>


    </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>