/*
==================
    Global CSS 
==================
*/

body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-image: linear-gradient(180deg, rgba(240, 249, 249, 0.8744631641719187) 10%, rgba(231, 247, 247, 0.986) 50%, rgba(240, 249, 249, 0.7147059507396709) 100%);
    height: 100vh;
    /* overflow: hidden; */
}

.mrgn-auto{
    margin: 0 auto;
}

section {
    max-width: 1500px;
    margin: 50px 0;
}

.btn {
    background-color: transparent;
    border: none;

    color: black;

    cursor: pointer;
    overflow: hidden;
}

.dspl-flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dspl-flex-row-center{
   display: flex;
    justify-content: center;
    align-items: center;
}
/*
==================
  Header Section 
==================
*/

.header {
    max-width: 1200px;
    text-align: center;
    margin-bottom: 30px;
}

.recipe--header {
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.descr {
    text-align: center;
    font-size: 19px;
    font-style: italic;
    font-weight: 100;
}

/*
==================
   Hero Section 
==================
*/

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    max-width: 1500px;
}

/*
   User profile and products 
*/

.content {

    width: 20%;
    gap: 7px;
}

/*
    User profile
*/

.user-details {
    gap: 7px;

    padding: 10px 12px;
    width: 90%;
    height: auto;

    text-align: center;

    background-color: #cfd8d8;
}

.profile--image {
    width: 100%;
    border-radius: 50%;
}

.user__stats {
    gap: 10px;

    font-size: 12px;
}

.stats__wrapper i {
    font-size: 16px;
}

/*
    User profile icons
*/

.user--icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 10px;

    width: 90%;
    background-color: #e4dede;
   
}

.user--icons .main-wrap{
    width: 50%;
}

.user--icons .wrapper .btn i {
    font-size: 28px;
    padding: 5px;
    transition: 0.8s;
}

.user--icons .wrapper .btn i:hover {
    transform: translateY(-4px);
    color: grey;
}

.user--icons .wrapper i {
    font-size: 28px;
    padding: 5px;
}

.user--icons .wrapper span {
    margin-top: 3px;
}

/*
    Recipe icons and recipe image
*/

.article--img--icons {
    width: 70%;
}

/*
=========================
      Grid Gallery
=========================
*/

.recipe-details {
    padding: 0px 50px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin-top: 10px;
    
    grid-auto-rows: 250px;
    gap: 16px;
}

.image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

/*
     Add Image Button
*/

.add-image-container {
    padding: 30px;
}

.add-image-container {
    margin-top: 40px;

    width: 80%;
    height: 50%;
    border: 1px dotted black;
    border-radius: 20px;

    font-size: large;

    cursor: pointer;
}

.add-image-container label span {
    font-weight: lighter;
    font-size: small;
    padding-top: 10px;
}

.add-image-container input {
    display: none;
}

/*
    Recipe icons styling
*/

.icons {
    gap: 14px;

    width: 50%;

    margin-bottom: 5px;
    padding: 5px 3px;

    background-color: #e4dede;
}

.icons .wrapper .btn i {
    font-size: 15px;
    padding: 3px;
}

.icons .wrapper i {
    font-size: 20px;
    padding: 3px;
}

.icons .wrapper span {
    margin-top: 3px;
}

/*
================
    Products 
================
*/

.products {
    width: 40%;
}

.products li {
    margin-bottom: 10px;
}

.products li p {
    font-size: 22px;
    letter-spacing: 1px;
}

.food-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 10px;
    margin-top: 10px;

    height: 50px;
    width: 100%;
    background-color: var(--white);
    border-radius: 0px;
    border-bottom: 2px solid #d1d3d4;
}

.food-item p {
    cursor: pointer;
}

.food-item button {
    border: none;
    background-color: #19A68C;
    height: 100%;
    width: 50px;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
}

.food-item button i {
    color: #fff;
}

/*
=========================
   Media Mobile Screen
=========================
*/

@media screen and (max-width:768px) {
    section{
        width: 100%;
    }

    .hero {
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }

    
/*
    Recipe icons and recipe image
*/

.article--img--icons {
  width: 70%;
  display: flex;
  flex-direction: column-reverse;
}

.image {
    width: 90%;
    height: auto;

    border-radius: 5px;
}

/*
    Icons styling
*/

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: 90%;
    
    margin-top: 5px;
    padding: 2px 2px;

    background-color: #e4dede;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
    Icons styling
*/

.icons .wrapper .btn i {
    font-size: 15px;
    padding: 3px;
}

.icons .wrapper i {
    font-size: 15px;
    padding: 3px;
}

.icons .wrapper span {
    margin-top: 3px;
    font-size: 15px;
}

/*
    User profile
*/

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 7px;
    width: 100%;

    margin-right: 9px;
    padding: 5px;

    height: auto;

    text-align: center;

    background-color: #cfd8d8;
}

.profile--image {
    width: 100%;
    border-radius: 50%;
}

.user__stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 12px;
}

/*
    User profile
*/

.user--icons {
    padding: 5px;
    margin-right: 10px;
    width: 100%;

  
   
    gap: 5px;
}

.user--icons .wrapper .btn i {
    font-size: 15px;
    padding: 3px;
    transition: 0.8s;
}

.user--icons .wrapper i {
    font-size: 13px;
    padding: 3px;
}

.user--icons .wrapper span {
    margin-top: 3px;
}




}
