
.mrgn-auto {
    margin: 0 auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/*
====================
    Edit Section
====================
*/

.edit--article-section {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

.edit--article-section h1 {
    padding-top: 20px;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Form positioning and Form::Before effect */

.edit-article-form {
    /* display props */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* positioning */
    position: relative;
    /* box model */
    width: 90%;
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    /*type*/
    color: var(--white);
}

.edit-article-form ::before {
    /* positioning */
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /*box-model*/
    background-color: var(--form-pseudo-background-clr);

    z-index: -1;
}

/* Select Dropdown & ::After Dropdown Effect  */
.edit-article-form select,
.edit-article-form input,
.edit-article-form textarea {
    /* box model */
    padding: 10px 8px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--form-elements-background-clr);
    /*type*/
    color: var(--grey);
    font-size: 18px;
    /*misc*/
    appearance: none;
}

.edit-article-form select:focus,
.edit-article-form input:focus,
.edit-article-form textarea:focus {
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
}

.edit-article-form select {
    cursor: pointer;
}

::placeholder {
    font-size: 20px;
    letter-spacing: 1px;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    /* positioning */
    content: '\25BC';
    position: absolute;
    bottom: 0;
    right: 0;
    /* box model */
    padding: 9px;
    background-color: var(--select-background-clr);
    /*type*/
    font-size: 20px;
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    /*functionality*/
    transition: .25s all ease;
}

.select-wrapper:hover::after {
    color: var(--green)
}

/* Form Inputs and Txt-areas positioning */
.edit-article-form label {
    margin-bottom: 5px;

    font-size: 24px;
    letter-spacing: 1px;
}

.title {
    width: 60%;
    margin-top: 20px;
}

.image-url {
    width: 60%;
}

.descr {
    width: 60%;
}

.category {
    width: 60%;
}

.content {
    width: 60%;
    margin-bottom: 20px;
}

/* Form Button */

.edit-article-submit {
    padding: 15px 0px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 10px;
    background-color: var(--background-clr);
    outline: none;

    font-size: 22px !important;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.edit-article-submit:hover {
    background-color: var(--form-elements-background-clr);
    color: var(--grey)
}