/*
 Page positioning
*/

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.sort-search-article {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

/* sort article */

.sort-article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: 250px;
}

.sort-article span {
    letter-spacing: 1px;
    font-size: 18px;
}

.sort-article select {
    padding: 5px;
}

/* Search */

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin: 0 auto;
}


/* Search input */

.search-form input {
    /* positioning */
    background-color: transparent;
    flex: 1;
    /* border-box */
    padding: 15px 20px;
    width: 500px;
    outline: none;
    border: 1px solid var(--blue-ocean);
    border-radius: 60px;
    transition: border .3s ease;
}

.search-form input:focus {
    border: 2px solid var(--blue-ocean);
}

/* buttons */
.search-form button {
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.3s;
    color: var(--white);
    border-radius: 5px;
    letter-spacing: 1px;
    border: none;
}

.search-btn {
    background-color: var(--green);
}

.search-btn:hover {
    background-color: var(--grass-green);
}

.reset-btn {
    background-color: var(--grey);
}

.reset-btn:hover {
    background-color: var(--silver);
}

.search-form button .icon:hover {
    background-color: var(--light-gray);
    color: var(--white);
}

/* Card list */

.card-list {
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border box */
    max-width: 1200px;
    margin: 40px auto;
}

@media screen and (max-width:720px) {

    /* Grid display */
    .card-list {
        /* display */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        /* positioning */
        margin: 0 auto;
        margin-top: 20px;
    }

    /* Search  */

    .sort-search-article {
        align-items: start;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .sort-article p {
        display: none;
    }

}