/*
 General positioning
*/

.catalog {
    display: flex;
    align-items: start;
    justify-content: center;
}

.sort-article {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 10%;
    gap: 10px;
}

.search-article {
    width: 80%;

}

/* sort article */

.sort-article p {
    letter-spacing: 1px;
    font-size: 18px;
    width: 40%;
}

.sort-article select{
    padding: 5px;
    width: 70%;
}

/* Search */

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 60%;
    margin: 0 auto;
}


/* Search input */

.search-form input {
    /* positioning */
    background-color: transparent;
    flex: 1;
    /* border-box */
    padding: 15px 20px;
    width: 50%;
    outline: none;
    border: 1px solid var(--blue-ocean);
    border-radius: 60px;
    transition: border .3s ease;
}

.search-form input:focus {
    border: 2px solid var(--blue-ocean);
}

/* buttons */
.search-form button {
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.3s;
    color: var(--white);
    border-radius: 5px;
    letter-spacing: 1px;
    border: none;
}

.search-btn {
    background-color: var(--green);
}

.search-btn:hover {
    background-color: var(--grass-green);
}

.reset-btn {
    background-color: var(--grey);
}

.reset-btn:hover {
    background-color: var(--silver);
}

.search-form button .icon:hover {
    background-color: var(--light-gray);
    color: var(--white);
}

/* Card list */

.card-list {
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border box */
    max-width: 1200px;
    margin: 40px auto;
}

@media screen and (max-width:768px) {

    /* Grid display */

    .card-list {
        /* display */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        /* positioning */
        margin: 0 auto;
        margin-top: 20px;
    }

    .section-title {
        /* positioning */
        width: 50%;
        margin-top: 10px;
        /* type */
        font-size: 18px;
        letter-spacing: 2px;
    }

    .section-title:hover {
        border-bottom: 3px solid var(--orange);
    }

    /* Search Bar */

    .search-bar .title {
        margin: 20px 0;

        font-size: 23px;
        letter-spacing: 2px;
    }

    .search-bar form {
        padding: 20px;
    }

    .search-bar .descr {
        font-size: 16px;
        letter-spacing: 2px;
    }

    .search-bar input {
        /* positioning */
        max-width: 500px;
        padding: 10px 12px;
    }


    /* Card Item */

    .card-info {
        padding-bottom: 5px;
    }

    .card-info .card-title {
        font-size: 18px;
        margin: 5px 0;
    }

    .card-info .card-descr {
        font-size: 15px;
        padding: 0px 6px;

    }

    .card-info span {
        display: inline-block;
        color: var(--grey);
        font-size: 15px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .card-info span .icon {
        font-size: 15px;
    }
}