/*
=========================
    Global CSS
=========================
*/

body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-image: linear-gradient(180deg, rgba(240, 249, 249, 0.8744631641719187) 10%, rgba(231, 247, 247, 0.986) 50%, rgba(240, 249, 249, 0.7147059507396709) 100%);
}

:root {
    --grey: #A8ACAF;
    --white: #ffffff;
    --red: #FF0000;
    --box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    --black: black;
    --brown: brown;
    --body: #F0F9F9;
    --orange: orange;
}

/*
=========================
    Global CSS HERO
=========================
*/

/* h2 */
.section-title {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 3px;
    border-bottom: 3px solid var(--brown);
    width: 300px;
    margin-bottom: 20px;
}

.section-title:hover {
    border-bottom: 3px solid var(--orange);
}

/*
=========================
       NAVIGATION
=========================
*/

#header {
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.navigation {
    width: 100%;
    height: 120px;
    padding: 0px 50px;
    background-color: #62A5A1;
    box-shadow: var(--box-shadow)
}

.logo {
    width: 130px;
    height: auto;
    border-radius: 70%;
}

.logo:hover {
    box-shadow: var(--box-shadow);
}

/* Nav links <ul/> align items */
.navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-links-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Button and links styling */
.nav-item a {
    letter-spacing: 3px;
    font-size: 18px;
    width: 200px;
}

.nav-item .dropdown button {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;

    transition: color .3s ease-in-out;
}

.nav-item button {
    border: none;
    padding: 10px 14px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.nav-item button:hover {
    color: black;
}

/*
    Sign up & Register links
*/

.sign-up-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:#B54484;
    padding: 10px 14px;
    height: 60px;
    width: fit-content;
    border-radius: 8px;
    margin-right: 20px;

}

.sign-up-links a,
.logout-btn {
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: color .2s ease-in;
    font-weight: bold;
    text-transform: uppercase;
}

.logout-btn {
    background-color:#B54484;

}

.sign-up-links span {
    font-size: 18px;
    color: white;
}

.sign-up-links a:hover,
.logout-btn:hover {
    color: black;
}

/* Dropdown CSS */

.dropdown {
    /* position: relative; */
    display: inline-block;
    width: 200px;
}

.dropdown-content {
    /* position */
    position: absolute;
    padding: 10px;
    width: 100%;
    top: 100%;
    left: 0;
    /* animate the dropdowns-invisible at start */
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity .120ms ease-in-out, transform .120ms ease-in-out;
    /* box-model */
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    overflow: auto;
    /* functions */
    pointer-events: none;
    z-index: 1;
}

.dropdown>.all-recipies-btn:focus+.dropdown-content {
    display: block;
    background-color: var(--white);
    /* make the dropdown visible */
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* Dropdown Grid links */
.information-grid {
    display: grid !important;
    grid-template-columns: repeat(4, max-content);
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100vw;
    gap: 40px;
}

.dropdown-heading span {
    display: block;
    margin-bottom: 10px;

    text-transform: uppercase;
    text-align: left;
    font-size: 21px;
    letter-spacing: 2px;
    color: #62A5A1;
    font-weight: lighter;
}

.dropdown-links a {
    display: block;
    width: 250px;
    position: relative;

    padding: 3px;

    font-size: 18px;
    color: var(--black);
    text-decoration: none;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;

    text-align: left;
}

.dropdown-links a:hover {
    color: #62A5A1;
}

.view-more {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 15px !important;
    letter-spacing: 1px;
    color: #62A5A1 !important;
}



/* 
    Favorites button
*/

.nav-item.favourites i {
    color: var(--red);
    transition: color .3s ease-in-out;
    font-size: 30px;
}

.favourites:hover .fa-solid {
    color: white;
}

/* 
    Search button
*/

.search button {
    position: relative;
    display: inline-block;
    height: 120px;
    padding: 40px;
}

.search button:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: grey;
}

.search button:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background-color: grey;
}

.nav-item.search i {
    color: var(--grey);
    font-size: 50px;
}

.search:hover .fa-solid {
    color: black !important;
}


/*
    ARTICLES GALLERY
*/

.articles {
    position: relative;
    width: 1800px;
    margin: 0 auto;
    margin-top: 30px;
    z-index: 0;
}

/* Articles grid */
.image-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template:
        "first third fourth"
        "second third fifth";

    padding: 16px;
    gap: 20px;
}

.first,
.second,
.fourth,
.fifth {
    width: 500px;
    height: 250px;
}

.third {
    width: 600px;
    height: 100%;
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}

.fourth {
    grid-area: fourth;
}

.fifth {
    grid-area: fifth;
}

.article-item .info {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    z-index: 1;
}

/* Article Pseudo element */
.article-item {
    position: relative;
    overflow: hidden;
}

.article-item::after {
    /* position */
    content: '';
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    left: 0;
    /*box-model*/
    background: linear-gradient(180deg, rgba(219, 219, 100, 0) 11%, rgba(10, 10, 5, 0.9191877434567577) 85%);
}

/* Image hover effect */
.article-item img {
    position: relative;
    transition: all .4s lienar;
}

.article-item:hover img {
    transform: scale(1.1);
    transition-duration: 2s;
}

/* Article fonts */
.info h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
    z-index: 1;
}

.info p {
    color: #fff;
    text-align: center;
}

.info span {
    border-left: 1px solid #fff;
    margin-left: 5px;
    padding-left: 5px;
}


/*
     TODAYS RECIPE
*/

.section {
    padding: 10px 40px;
    height: 80vh;
}

.hero {
    display: flex;
    margin-top: 40px;
}

.today-recipe {
    position: relative;
    width: 50%;
}

.today-recipe img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.today-recipe article {
    position: absolute;
    display: flex;
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    bottom: 20%;
    left: 10%;
    border: 1px solid var(--black);
    margin: 20px;
    padding: 10px;
    width: 700px;
    height: 350px;
    vertical-align: middle;
    text-align: center;
    background-color: var(--white);
    opacity: 0.8;
}

.today-recipe .today-recipe-title {
    padding: 0 10px;
    font-size: 20px;
}

.today-recipe h2 {
    font-size: 35px;
    font-weight: bold;
    color: var(--brown);
    letter-spacing: 1.5px;
    margin: 7px 0px;
}

.descr {
    margin-bottom: 20px;
    font-size: 18px;
}

.today-recipe a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 3px 8px;
    border: 1px solid var(--black);
    display: inline-block;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--grey);
}

.today-recipe a:hover {
    background-color: var(--white)
}

/*
     RECENTLY ADDED
*/

.recently-recipies {
    width: 50%;
}

.recently-recipies .card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card-list a {
    text-decoration: none;
}

img {
    /* object-fit: cover; */
    border-radius: 5px 5px 0 0;
}

.card-item {
    display: inline-block;
    transition: 0.8s;
    margin-bottom: 10px;
    background-color: var(--white);
}

.card-item:hover {
    transform: translateY(-15px);
    margin-bottom: 10px;
    background-color: var(--white);
    -webkit-box-shadow: 6px 6px 2px 0px #FF8333;
    box-shadow: 6px 6px 2px 0px #FF8333;
}

.recipies-title {
    text-decoration: none;
    color: black;
}

.card-item .card-title {
    color: var(--black);
    font-size: 25px;
    margin: 10px 0;
    letter-spacing: 3px;
    text-align: center;
}

.card-item .card-descr {
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--grey);
    padding: 0px 10px;
    text-align: left;
    font-style: italic;
}

.card-item span i {
    margin: 15px 5px;
    color: var(--grey);
    font-size: 18px;
}

.card-item span {
    color: var(--grey);
    font-size: 18px;
}

/*
==============================
SUMMER RECIPIES & FRESH SALADS
==============================
*/

.summer-section .recipies {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}

.summer-section .recipies .card-list,
.fresh-salads-section .recipies .card-list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    align-items: center;
    gap: 30px;
}

.summer-section h2,
.fresh-salads-section h2 {
    width: 500px;
}

.fresh-salads-section {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1000px;
}

/*
==============================
            FOOTER
==============================
*/

footer {
    width: 100%;
    height: 140px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0a8ea6;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

footer .list-icons a {
    color: #9efcff;
    font-size: 30px;
    display: inline-block;
    transition: 0.8s;
}

footer .list-icons li a:hover {
    transform: translateY(-15px);
}

footer .list-links li a {
    font-size: 1.3em;
    color: var(--white);
    display: inline-block;
    transition: 0.8s;
    text-decoration: none;
    opacity: 0.80;
    font-weight: 400;
}

footer .list-links li a:hover {
    opacity: 1;
}

footer p {
    color: var(--white);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}