/*
=========================
    Global CSS
=========================
*/

body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-color: var(--body);
}

:root {
    --grey: #A8ACAF;
    --white: #ffffff;
    --red: #FF0000;
    --box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    --black: black;
    --brown: brown;
    --body: #F0F9F9;
    --orange: orange;
}


/*
=========================
    Global CSS HERO
=========================
*/

/* h2 */
.section-title {
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 3px;
    border-bottom: 3px solid var(--brown);
    width: 300px;
}

.section-title:hover {
    border-bottom: 3px solid var(--orange);
}

/*
=========================
       NAVIGATION
=========================
*/

#header {
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.navigation {
    /* position: fixed; */
    width: 100%;
    height: 120px;
    padding: 0px 50px;
    background-color: var(--white);
    box-shadow: var(--box-shadow)
}

.logo {
    margin-left: 20px;
    width: 130px;
    height: auto;
    border-radius: 70%;
    box-shadow: var(--box-shadow);
    margin-right: 30px;
}

/* Nav links <ul/> align items */

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-links-wrapper {
    display: flex;
    justify-content: space-around;
}

.nav-links-wrapper:nth-child(2) {
    margin-left: -400px;
    gap: 30px;
}


.nav-links-wrapper:nth-child(1) {
    gap: 20px;
}

/* Logout, Register Login styling */

.nav-links-wrapper:nth-child(3) {
    gap: 40px;
    padding-left: 40px;
}


.nav-links-wrapper:nth-child(3) .nav-item {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
    border-radius: 5px;
}

.nav-links-wrapper:nth-child(3) .nav-item:hover {
    background-color: var(--grey);
    cursor: pointer;
}

/* Button and nav-item styling */

.nav-item a {
    letter-spacing: 3px;
    font-size: 18px;
    width: 200px;
}

.nav-item .dropdown button {
    letter-spacing: 2px;
    font-size: 18px;
    width: 200px;
}

.nav-item {
    position: relative;
}

.nav-item button {
    border: none;
    box-shadow: var(--box-shadow);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.nav-item button:hover {
    background-color: var(--grey);
}

/* Dropdown CSS */

.dropdown {
    display: inline-block;
    width: 200px;
}


.nav-item.favourites i {
    color: var(--red);
    margin-right: 5px;
}

.nav-item.search i {
    color: var(--grey);
    margin-right: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: var(--white);
}

.dropdown-content a {
    display: block;
    position: relative;
    color: var(--black);
    padding: 3px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: black;
    background-color: var(--grey)
}

/* Search and favourites CSS */

.nav-links-wrapper .nav-item.favourites button,
.nav-links-wrapper .nav-item.search button {
    width: 50px;
    border-radius: 20%;
    padding: 10px;
    border: none;
}

.nav-links-wrapper:nth-child(1) {
    display: flex;
    align-items: center;
}

/*
=========================
    Hero
=========================
*/

.section {
    padding: 10px 40px;
    height: 80vh;
}

.hero {
    display: flex;
    margin-top: 40px;
}

/*
=========================
     TODAYS RECIPE
=========================
*/


.today-recipe {
    position: relative;
    width: 50%;
}

.today-recipe img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.today-recipe article {
    position: absolute;
    display: flex;
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    bottom: 20%;
    left: 10%;
    border: 1px solid var(--black);
    margin: 20px;
    padding: 10px;
    width: 700px;
    height: 350px;
    vertical-align: middle;
    text-align: center;
    background-color: var(--white);
    opacity: 0.8;
}

.today-recipe .today-recipe-title {
    padding: 0 10px;
    font-size: 20px;
}

.today-recipe h2 {
    font-size: 35px;
    font-weight: bold;
    color: var(--brown);
    letter-spacing: 1.5px;
    margin: 7px 0px;
}

.descr {
    margin-bottom: 20px;
    font-size: 18px;
}

.today-recipe a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 3px 8px;
    border: 1px solid var(--black);
    display: inline-block;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--grey);
}

.today-recipe a:hover {
    background-color: var(--white)
}


/*
=========================
     RECENTLY ADDED
=========================
*/

.recently-recipies {
    width: 50%;
}

.recently-recipies .card-list {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 40px;
    padding-left: 150px;
}

.card-list a {
    text-decoration: none;
}

img {
    /* object-fit: cover; */
    border-radius: 5px 5px 0 0;
}

.card-item {
    display: inline-block;
    transition: 0.8s;
    margin-bottom: 10px;
    background-color: var(--white);
}

.card-item:hover {
    transform: translateY(-15px);
    margin-bottom: 10px;
    background-color: var(--white);
    -webkit-box-shadow: 6px 9px 2px 0px #FF8333;
    box-shadow: 6px 9px 2px 0px #FF8333;
}

.recipies-title {
    text-decoration: none;
    color: black;
}

.card-item .card-title {
    color: var(--black);
    font-size: 35px;
    margin: 10px 0;
    letter-spacing: 3px;
    text-align: center;
}

.card-item .card-descr {
    margin-bottom: 10px;
    font-size: 23px;
    color: var(--grey);
    padding: 0px 10px;
    text-align: left;
    font-style: italic;
}

.card-item span i {
    margin: 15px 5px;
    color: var(--grey);
    font-size: 20px;
}

.card-item span {
    color: var(--grey);
    font-size: 20px;
}

/*
==============================
SUMMER RECIPIES & FRESH SALADS
==============================
*/

.summer-section .recipies {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 300px;
}

.summer-section .recipies .card-list,
.fresh-salads-section .recipies .card-list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    align-items: center;
    gap: 30px;
}

.summer-section h2,
.fresh-salads-section h2 {
    width: 500px;
}

.fresh-salads-section {
    margin-top: 150px;
    margin: 0 auto;
    max-width: 1000px;
}

/*
==============================
            FOOTER
==============================
*/

footer {
    width: 100%;
    height: 140px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0a8ea6;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

footer .list-icons a {
    color: #9efcff;
    font-size: 30px;
    display: inline-block;
    transition: 0.8s;
}

footer .list-icons li a:hover {
    transform: translateY(-15px);
}

footer .list-links li a {
    font-size: 1.3em;
    color: var(--white);
    display: inline-block;
    transition: 0.8s;
    text-decoration: none;
    opacity: 0.80;
    font-weight: 400;
}

footer .list-links li a:hover {
    opacity: 1;
}

footer p {
    color: var(--white);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}