/*
=========================
       Navigation
=========================
*/

.navigation {
	width: 100vw;
	height: 120px;

	padding: 0px 50px;
	background-color: var(--green);
	box-shadow: var(--box-shadow)
}

/* Logo */

.logo {
	width: 130px;
	height: auto;

	border-radius: 70%;
}

.logo-fav-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo:hover {
	box-shadow: var(--box-shadow);
}

/* Nav links <ul/> align items  */

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;

	position: relative;
}

/* Button and links styling  */

.nav-link {
	width: 200px;

	font-size: 18px;
	letter-spacing: 3px;
}

.dropdown .all-recipies-btn {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--white);
	font-weight: bold;

	transition: color .3s ease-in-out;
}

.all-recipies-btn {
	padding: 10px 14px;
	border: none;
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
}

.nav-item button:hover {
	color: var(--black);
}

/* Sign up & Register links */

.sign-up-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 90px;
	padding: 10px 14px;
	background-color: var(--user--login--btn--bckgrnd);
	border-radius: 8px;
}

.sign-up-links a,
.logout-btn {
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--white);

	transition: color .2s ease-in;
}

.logout-btn {
	background-color: var(--user--login--btn--bckgrnd);
}

.user-shortcut-buttons {
	display: flex;
	align-items: center
}

/* User profile button, when user is logged in */

.user-profile-shortcut-btn {
	width: 40px;
	padding: 5px;
	border: none;
	border-radius: 8px;
	cursor: pointer;

	font-size: 17px;
}

.sign-up-links span {
	font-size: 18px;
	color: var(--white);
}

.sign-up-links a:hover,
.logout-btn:hover {
	color: var(--black);
}


/* Dropdown CSS */

.dropdown {
	display: inline-block;
	width: 500px;
}

.dropdown-content {
	/* position */
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	/* box-model */
	padding: 10px;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
	overflow: auto;
	/* animate the dropdowns-invisible at start */
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity .120ms ease-in-out, transform .120ms ease-in-out;
	/* functions */
	pointer-events: none;
	z-index: 1;
}

.dropdown>.all-recipies-btn:focus+.dropdown-content {
	display: block;

	background-color: var(--white);
	/* make the dropdown visible */
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}


/* Dropdown Grid links */

.information-grid {
	display: grid !important;
	grid-template-columns: repeat(4, max-content);
	align-items: flex-start;
	justify-content: space-evenly;
	width: 100vw;
	gap: 40px;
}

.dropdown-heading span {
	display: block;

	margin-bottom: 10px;

	text-align: left;
	text-transform: uppercase;
	font-size: 21px;
	letter-spacing: 2px;
	color: var(--green);
	font-weight: lighter;
}

.dropdown-links a {
	display: block;
	position: relative;
	width: 250px;

	padding: 3px;

	font-size: 18px;
	color: var(--black);
	text-decoration: none;
}

.dropdown-links {
	display: flex;
	flex-direction: column;
	gap: .25rem;

	text-align: left;
}

.dropdown-links a:hover {
	color: var(--green);
}

.view-more {
	margin-top: 5px;

	text-transform: uppercase;
	font-size: 15px !important;
	letter-spacing: 1px;
	color: var(--green) !important;
}

.all-categories-link a {
	text-decoration: none;
	margin: 0 auto;
}

.all-categories-link a:hover {
	text-decoration: underline;
}

/* Favorites button */

.favorites__btn,
.shopping-list__btn {
	/* box model */
	padding: 10px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.fa-heart {
	font-size: 30px;
	color: var(--red);

	transition: color .3s ease-in-out;
}

.favorites__btn:hover .fa-heart {
	color: var(--white);
}

/* Favorites button */
.fa-cart-shopping {
	font-size: 30px;
	color: var(--white);

	transition: color .3s ease-in-out;
}

.shopping-list__btn:hover .fa-cart-shopping {
	color: var(--user--login--btn--bckgrnd);
}

/*  Search button */

.search__btn {
	display: inline-block;
	position: relative;

	padding: 10px 40px;
	height: 120px;
	border: none;
	border-radius: 5px;
	background-color: transparent;

	cursor: pointer;
}

.search__btn:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 1px;

	background-color: var(--grey);
}

.search__btn:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 1px;

	background-color: var(--grey);
}

.search__btn:hover .search__icon {
	color: var(--white);
}

.nav-item.search i {
	color: var(--grey);
	font-size: 50px;
}

.search:hover .fa-solid {
	color: var(--black) !important;
}

/* Hamburger */

.hamburger {
	display: none;

	padding-right: 20px;
	cursor: pointer;
}

.bar {
	display: block;

	width: 25px;
	height: 3px;

	margin: 5px auto;
	background-color: white;
	-webkit-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;
}


@media screen and (max-width:768px) {

	/* Hero section */
	.hero {
		flex-direction: column;
		margin-top: 0px;
	}

	/* h2 */

	.section-title {
		width: 60% !important;

		font-size: 22px;
		letter-spacing: 2px;
		margin-bottom: 20px;
	}

	.section {
		padding: 10px 20px;
	}

	.hamburger {
		display: block;
	}

	/* Hamburger menu */

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.favourites {
		position: absolute;
		left: 55px;
	}

	/* Navigation order */
	.navigation {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		top: 0;
		height: 90px;
		padding: 0px;

		z-index: 3;
	}

	.logo {
		width: 100px;
		border-radius: 70%;
	}

	.navigation> :nth-child(1) {
		order: 2;
	}

	.navigation> :nth-child(4) {
		order: 1;
	}

	.navigation> :nth-child(5) {
		order: 3;
	}

	/* Recipes and Blog buttons */

	.wrapper-links {
		display: none;
		position: absolute;
		width: 100vw;
		bottom: 0px;
		left: 0px;
		gap: 10px;

		padding: 10px;
		background-color: var(--green);

		transition: 0.2s ease-in-out;
		transform: translateY(0);
	}

	.wrapper-links.active {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		transform: translateY(123px);
	}

	/* Register & Login links */

	.sign-up-links {
		display: none;
		position: absolute;
		width: 100vw;

		margin-left: 0;
		bottom: 0;
		margin: 0;

		border-radius: 0;

		transform: translateY(0);
	}

	.sign-up-links.active {
		display: inline-block !important;
		transform: translateY(60px);
	}

	/* Grid */
	.information-grid {
		grid-template-columns: repeat(1, 1fr);
		width: 100vw;

	}

	.dropdown-heading span {
		margin-bottom: 5px;

		font-size: 20px;
		color: var(--white);
	}

	.dropdown-links a {
		width: 100%;
		border-bottom: 1px solid var(--white);
	}

	.dropdown-links a:hover {
		color: black !important;
	}

	.dropdown-content {
		background-color: var(--green) !important;
	}

	.nav-link {
		color: var(--white) !important;
	}

	/* Search button */

	.search__btn {
		padding-left: 20px;
	}

	.search__btn:before,
	.search__btn:after {
		display: none;
	}

	.nav-item.search {
		font-size: 30px;
	}
}