/*
=========================
    Global CSS
=========================
*/

:root {
    --grey: #A8ACAF;
    --white: #ffffff;
    --red: #FF0000;
    --box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    --black: black;
    --brown: brown;
    --body: #F0F9F9;
    --orange: orange;
}

body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-color: var(--body);
}

.btn {
    background-color: transparent;
    border: none;

    color: black;

    cursor: pointer;
    overflow: hidden;
}

/*
=========================
        Profile
=========================
*/

.user-profile {
    display: flex;
    flex-direction: column;
    max-width: 1000px;

    padding: 15px;
    margin: 0 auto;
    margin-top: 30px;
    border: #A8ACAF;
    border-radius: 20px;
    border: none;
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
}

/*
    User Details Positioning : 
    img holder, user information and user icons
*/

.user-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

/*
    User profile icons
*/


.user--icons .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;
    
    background-color: #e4dede;
}

.user--icons .wrapper .btn i {
    padding: 5px;
    font-size: 28px;
    transition: 0.8s;
}

.user--icons .wrapper .btn i:hover {
    transform: translateY(-4px);
    color: grey;
}

.user--icons .wrapper {
    margin-top: 3px;
}

/*
    Recipe icons and recipe image
*/

.user--icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.user--icons .wrapper .btn i {
    padding: 3px;
    font-size: 20px;
}

.user--icons .wrapper {
    font-size: 17px;
}

.user-details .img-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    width: 30%;
    height: auto;
}

.img-holder .level {
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-style: italic;
}

.user-details img {
    border-radius: 50%;
}

.user-information {
    width: 60%;
    height: auto;
    display: grid;
    gap: 20px;
    grid-template:
        "title title"
        "name username"
        "email phone";
}

.title {
    grid-area: title;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 900;
    padding: 5px;
    border-bottom: 1px solid var(--grey);
}

.user-information label {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.user-information p {
    font-size: 14px;
    color: var(--grey);
    letter-spacing: 1px;
    letter-spacing: 1px;
}

/*
=========================
        Recipies
=========================
*/

.card-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 180px);
    gap: 20px;
}



.card-list a {
    text-decoration: none;
}

img {
    border-radius: 5px 5px 0 0;
}

.card-item {
    display: inline-block;
    transition: 0.8s;
    margin-bottom: 10px;
    background-color: var(--white);
}

.card-item:hover {
    transform: translateY(-5px);
    margin-bottom: 5px;
    background-color: var(--white);
    -webkit-box-shadow: 6px 9px 2px 0px #FF8333;
    box-shadow: 6px 9px 2px 0px #FF8333;
}

.recipies-title {
    color: black;
    letter-spacing: 1px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 10px;
}

.card-item .card-title {
    color: var(--black);
    font-size: 18px;
    margin: 10px 0;
    letter-spacing: 3px;
    text-align: center;
}

.card-item .card-descr {
    margin-bottom: 5px;
    font-size: 15px;
    color: var(--grey);
    padding: 0px 10px;
    text-align: left;
    font-style: italic;
}

.card-item span i {
    margin: 15px 5px;
    color: var(--grey);
    font-size: 15px;
}

.card-item span {
    color: var(--grey);
    font-size: 14px;
}

/* Show all button */
.show-all {
    text-align: end;
    font-size: 18px;
}

.show-all a {
    color: var(--black);
}

.show-all a:hover {
    border-bottom: 1px solid black
}