.create-recipe-background {
    padding: 20px;
    background-image: url('../../../public/img/wood.jpg');
    background-position: center center;
    background-repeat: none;
    background-size: cover;
}

.mrgn-auto {
    margin: 0 auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/*
Create Recipe Section 
*/

.create--recipe-section {
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}

.create--recipe-section h1 {
    padding: 20px 0;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Form positioning */

.create-recipe-form {
    justify-content: center;
    gap: 20px;
    /* positioning */
    position: relative;
    /* box model */
    width: 90%;
    background-color: transparent;
    border: 1px solid var(--black);
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);

    color: var(--white);
}

/*  Select Dropdown & :: After Dropdown pseudo effect */

.create-recipe-form select,
.create-recipe-form input,
.create-recipe-form textarea {
    /* box model */
    padding: 10px 8px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--background-clr);
    /*type*/
    color: var(--silver);
    font-size: 18px;
    /*misc*/
    appearance: none;
}

.create-recipe-form::before {
    /* positioning */
    content: '';
    position: absolute;
    /*box-model*/
    background-color: var(--black);
    width: 100%;
    height: 100%;

    /* functionality */
    z-index: -1;
}

.create-recipe-form select {
    cursor: pointer;
}

::placeholder {
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--light-grey) !important;
}

.select-wrapper {
    position: relative;
}

.after::after {
    /* positioning */
    content: '\25BC';
    position: absolute;
    bottom: 0;
    right: 0;
    /* box model */
    padding: 9px;
    background-color: var(--silver);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    /*type*/
    font-size: 20px;
    color: var(--white);
    /*functionality*/
    transition: .25s all ease;
}

.select-wrapper:hover::after {
    color: var(--green)
}

.create-recipe-form label {
    margin-bottom: 5px;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
}

.group-wrapper {
    display: flex;
   
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

.group-wrapper .select-wrapper {
    max-width: 25%;
    min-width: 20%;
}

.create--recipe-section .name,
.create--recipe-section .descr {
    width: 50%;
}

.create--recipe-section .ingredients,
.create--recipe-section .steps {
    width: 70%;
}

.create--recipe-section .imageUrl {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.create--recipe-section .imageUrl button {
    width: 50%;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;

    padding: 5px;
    border-radius: 10px;
    background-color: var(--background-clr);
    /*type*/
    color: var(--silver);
    font-size: 20px;
}

/* Form Button */

.create-recipe-submit-btn {
    padding: 15px 0px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;

    width: 10%;
    border-radius: 10px;
    background-color: var(--background-clr);
    outline: none;

    font-size: 22px !important;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.create-recipe-submit-btn:hover {
    background-color: var(--green);
    color: var(--white)
}

/* Errors styling */

.error {
    margin: 0 auto;
    background-color: var(--red);
    padding: 6px;
    margin-top: 5px;
    border-radius: 5px;
    color: var(--white);

    text-align: center;
}

.error.name {
    width: 70%;
}

.error.imageUrl {
    width: 30%;
}

.error.descr {
    width: 80%;
}

.error.products,
.error.steps {
    width: 55%;
}

.error.select-menu {
    width: 30%;
    margin-top: 10px;
}


/*
======================
  Responsive design
======================
*/

@media screen and (max-width:720px) {
    .create--recipe-section .name {
        width: 80%;
    }

    .create--recipe-section .ingredients,
    .create--recipe-section .steps,
    .create--recipe-section .descr {
        width: 70%;
    }

    .group-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .group-wrapper .select-wrapper {
        min-width: 30%;
    }

    .create-recipe-submit-btn {
        width: max-content;

    }

}