
.nav-item-dropdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .nav-item-dropdown-wrapper span {
    color: white;
  }
  
 
.nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .icon-button {
    --button-size: calc(var(--nav-size) * 0.7);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #c4bebe;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  
  .icon-button:hover {
    filter: brightness(1.4);
  }
  
  .icon-button svg {
    fill: var(--text-color);
    width: 30px;
    height: 25px;
  }
  