section {
    height: 100vh;
    padding: 0px 20px;
}

:root {
    --grey: #A8ACAF;
    --white: #ffffff;
    --red: #FF0000;
    --box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    --black: black;
    --brown: brown;
    --body: #F0F9F9;
    --orange: orange;
}

/*
================
  Search Bar
================
*/

.search-bar {
    /* positioning */
    max-width: 1200px;
    margin: 0 auto;
    background-color: #E2F3F3;
    /* box-model */
    padding: 20px;
    /* type */
    text-align: center;
}

.search-bar .title {
    margin: 30px 0;

    font-size: 40px;
    letter-spacing: 3px;
}

.search-bar form {
    /* display */
    display: flex;
    gap: 20px;
    /* positioning */
    max-width: 500px;
    padding: 30px;
    margin: 0 auto;
    /* type */
    align-items: center;
}

.search-bar .descr {
    margin-bottom: 10px;

    font-size: 20px;
    letter-spacing: 2px;
}

.search-bar input {
    /* positioning */
    background-color: transparent;
    padding: 15px 20px;
    flex: 1;
    border: 0;
    width: 60%;
    /* border-box */
    outline: none;
    background-color: lightgrey;
    border-radius: 60px;
}

::placeholder {
    color: white;
    font-size: 20px;
}

.search-bar form button {
    position: relative;
    border: none;
    border-radius: 30px;
    width: 30%;
}

.search-bar form button .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    /* border-box */
    background-color: ghostwhite;
    padding: 10px;
    border-radius: 30px;
    /* type */
    font-size: 18px;
    color: gray;

    opacity: 0.7;
}

/*
=========================
       All Recipies
=========================
*/

section {
    height: 100vh;
}

.section-title {
    /* positioning */
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;

    border-bottom: 3px solid var(--brown);
    /* type */
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
}

.section-title:hover {
    border-bottom: 3px solid var(--orange);
}

.card-list {
    /* display */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    /* positioning */
    max-width: 1800px;
    padding-left: 0px;
    margin: 0 auto;
    margin-top: 20px;
}

/* 
=============
  Card Item 
=============
*/

.list-item {
    border-radius: 10px;
}

.list-item a {
    display: flex;
    flex-direction: column;
}

.img-holder img {
    height: 100%;

    width: max-content;

    background-size: cover;
    background-position: center center;
    border-radius: 5px 5px 0 0;
}

.card-list a {
    text-decoration: none;
}

.card-list a:hover {
    border: 1px solid var(--orange);
    border-radius: 10px;
}

.card-info {
    display: inline-block;
    padding-bottom: 10px;
    background-color: var(--white);
}

.title {
    text-decoration: none;
    text-align: center;
    color: black;
}

.card-info .card-title {
    color: var(--black);
    font-size: 22px;
    margin: 10px 0;
    letter-spacing: 1px;
    text-align: center;
}

.card-info .card-descr {
    font-size: 18px;
    color: var(--grey);
    padding: 0px 10px;
    text-align: left;
    font-style: italic;
}

.card-info span {
    display: inline-block;
    color: var(--grey);
    font-size: 18px;
    margin-top: 30px;
    margin-left: 5px;
}

.card-info .icon {
    margin: 0 10px;
    color: var(--grey);
    font-size: 18px;
}

@media screen and (max-width:768px) {

    /*
    Grid display
*/

    .card-list {
        /* display */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        /* positioning */
        margin: 0 auto;
        margin-top: 20px;
    }

    .section-title {
        /* positioning */
        width: 50%;
        margin-top: 10px;
        /* type */
        font-size: 18px;
        letter-spacing: 2px;
    }

    .section-title:hover {
        border-bottom: 3px solid var(--orange);
    }

    /*
       Search Bar
*/

    .search-bar .title {
        margin: 20px 0;

        font-size: 23px;
        letter-spacing: 2px;
    }

    .search-bar form {
        padding: 20px;
    }

    .search-bar .descr {
        font-size: 16px;
        letter-spacing: 2px;
    }

    .search-bar input {
        /* positioning */
        max-width: 500px;
        padding: 10px 12px;
    }


    /* 
=============
  CARD ITEM 
=============
*/

    .card-info {
        padding-bottom: 5px;
    }

    .card-info .card-title {
        font-size: 18px;
        margin: 5px 0;
    }

    .card-info .card-descr {
        font-size: 15px;
        padding: 0px 6px;

    }

    .card-info span {
        display: inline-block;
        color: var(--grey);
        font-size: 15px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .card-info span i {
        font-size: 15px;
    }



}