.hero {
	display: flex;
	align-items: center;
	justify-content: center;
}



@media screen and (max-width:720px) {
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;

		gap: 20px;
	}
}