.user-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* box model */
	max-width: 800px;

	padding: 15px 5px;
	border-radius: 20px;
	border: none;
	border: #A8ACAF;
	-webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
	box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
}

/*
User Details Positioning : 
	1. Img holder
	2. User information 
	3. User icons
*/

.user-details {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	gap: 15px;
}

/* 1. User profile picture */
.user-details .img-holder {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;

	width: 50%;
	height: auto;
}

.user-details img {
	border-radius: 50%;
	width: 80%;
}

.img-holder .level {
	font-size: 20px;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-style: italic;
}

/* 2. User information */
.user-information {
	display: flex;
	flex-direction: column;
	align-items: start;

	width: 40%;
}

.user-information label {
	font-size: 16px;
	letter-spacing: 1px;
	color: var(--grey);
	text-transform: uppercase;
}

.user-information p {
	font-size: 20px;
	letter-spacing: 1px;
}

.user-personal-data {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;
}

.name,
.email {
	margin-bottom: 20px;
}

.username,
.phone {
	margin-bottom: 10px;
}

/* 3. User icons */
.user-icons {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.user-icons .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 7px;
	background-color: #e4dede;
}

.user-icons .btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: black;
	overflow: hidden;
}

.user-icons .wrapper .icon {
	padding: 3px;
	font-size: 20px;
	transition: 0.8s;
}

.user-icons .wrapper .btn .icon:hover {
	transform: translateY(-4px);
	color: grey;
}

.user-icons .wrapper {
	margin-top: 3px;
}

.recipes-title {
	margin: 20px 0;

	text-align: center;
	letter-spacing: 1px;
	font-weight: lighter;
	color: var(--black);
}

/* Grid recipes */

.card-list {
    /* display */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	justify-items: center;
    gap: 10px;
    /* border box */
    padding: 10px;
    max-width: 900px;
    margin: 20px auto;

}


/*
  Responsive Design
*/

@media screen and (max-width:720px) {
	.user-profile {
		width: 500px;
	}

	.user-details {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 15px;
	}

	.user-information {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	/* 1. User profile picture */
	.user-details .img-holder {
		width: 60%;
		height: auto;
	}

	.img-holder .level {
		font-size: 18px;
	}

	/* 2. User information */
	.user-information {
		width: 100%;
	}

	.user-personal-data {
		gap: 20px;
	}

	.name,
	.email {
		margin-bottom: 15px;
	}

	.username,
	.phone {
		margin-bottom: 10px;
	}

	.recipies {
		margin-top: 20px;
	}

	.card-list {
		grid-template-columns: repeat(1, 1fr);

	}
}