/*
=========================
    Global CSS
=========================
*/

body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-color: var(--body);
}

:root {
    --grey: #A8ACAF;
    --white: #ffffff;
    --red: #FF0000;
    --box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    --black: black;
    --brown: brown;
    --body: #F0F9F9;
    --orange: orange;
}

/*
=========================
         SEARCHBAR
=========================
*/

/* display props */
/* positioning */
/* box model */
/*type*/
/* misc */
/*functionality*/

.search-bar {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: #E2F3F3;
}

.search-bar .title {
    font-size: 40px;
    margin: 30px 0;
    letter-spacing: 3px;
}

.search-bar form {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    align-items: center;
    padding: 30px;
}

.search-bar .descr {
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.search-bar input {
    background-color: transparent;
    flex: 1;
    max-width: 600px;
    border: 0;
    outline: none;
    background-color: lightgrey;
    border-radius: 60px;
    padding: 24px 20px;
}

::placeholder {
    color: white;
    font-size: 20px;
}

.search-bar form button {
    position: relative;
    right: 60px;
    border: none;
    border-radius: 30px;
}


.search-bar form button i {
    font-size: 18px;
    background-color: ghostwhite;
    color: gray;
    opacity: 0.7;
    padding: 10px;
    border-radius: 30px;
}

/*
=========================
     ALL RECIPIES
=========================
*/

section {
    height: 100vh;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 50px;
}

horizontal-list-item {
    border-radius: 10px;
}

.horizontal-list-item a {
    display: flex;
    flex-direction: row;
}

.img-holder {
    width: 40%;
}

.card-item {
    width: 60%;
}


.img-holder img {
    width: max-content;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 5px 0 0 5px;
}

.card-list a {
    text-decoration: none;
}

.card-list a:hover {
    border: 1px solid var(--orange);
    border-radius: 10px;
}

.card-item {
    display: inline-block;
    padding-bottom: 10px;
    background-color: var(--white);
}

.title {
    text-decoration: none;
    text-align: center;
    color: black;
}

.card-item .card-title {
    color: var(--black);
    font-size: 22px;
    margin: 10px 0;
    letter-spacing: 1px;
    text-align: center;
}

.card-item .card-descr {
    font-size: 18px;
    color: var(--grey);
    padding: 0px 10px;
    text-align: left;
    font-style: italic;
}

.card-item span {
    display: inline-block;
    color: var(--grey);
    font-size: 18px;
    margin-top: 30px;
    margin-left: 5px;
}

.card-item span i {
    margin: 0 10px;
    color: var(--grey);
    font-size: 18px;
}