/*
=========================
    Global CSS
=========================
*/

body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-color: var(--body);
    height: 100vh;
}

.mrgn-auto {
    margin: 0 auto;
}

/*
=========================
      CREATE 
=========================
*/

.create {
    margin-top: 30px;
}

.create form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1200px;
    gap: 20px;
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    padding: 25px;
    grid-template: "title title title"
        ". descr ."
        "category type season"
        "traditional . ."
        "ingredients ingredients ingredients"
        "steps steps steps"
        "calories prep-time cook-time"
        "level occasion portions"
}

.title {
    grid-area: title;
    display: flex;
    flex-direction: column;
}

.descr {
    grid-area: descr;
    display: flex;
    flex-direction: column;
}

.category {
    grid-area: category;
    display: flex;
    flex-direction: column;
}

.type {
    grid-area: type;
    display: flex;
    flex-direction: column;
}

.season {
    grid-area: season;
    display: flex;
    flex-direction: column;
}

.traditional {
    grid-area: traditional;
    display: flex;
    flex-direction: column;
}

.ingredients {
    grid-area: ingredients;
    display: flex;
    flex-direction: column;
}

.steps {
    grid-area: steps;
    display: flex;
    flex-direction: column;
}

.calories {
    grid-area: calories;
    display: flex;
    flex-direction: column;
}

.prep-time {
    grid-area: prep-time;
    display: flex;
    flex-direction: column;
}

.cook-time {
    grid-area: cook-time;
    display: flex;
    flex-direction: column;
}

.level {
    grid-area: level;
    display: flex;
    flex-direction: column;
}

.occasion {
    grid-area: occasion;
    display: flex;
    flex-direction: column;
}

.portions {
    grid-area: portions;
    display: flex;
    flex-direction: column;
}