
.latest-recipes__grid {
	display: grid;
	grid-template:
		"first-rec first-rec "
		"sec-rec third-rec"
		"fourth-rec fifth-rec"
		"sixth-rec seventh-rec";

	justify-content: start;
	align-items: center;
	gap: 20px;

	padding: 0px;
	margin-top: 20px;;
}

.latest-recipes__grid .recipe-card:nth-child(1) {
	grid-area: first-rec;
}

.latest-recipes__grid .recipe-card:nth-child(2) {
	grid-area: sec-rec;
}

.latest-recipes__grid .recipe-card:nth-child(3) {
	grid-area: third-rec;
}

.latest-recipes__grid .recipe-card:nth-child(4) {
	grid-area: fourth-rec;

}

.latest-recipes__grid .recipe-card:nth-child(5) {
	grid-area: fifth-rec;
}

.latest-recipes__grid .recipe-card:nth-child(6) {
	grid-area: sixth-rec;
}

.latest-recipes__grid .recipe-card:nth-child(7) {
	grid-area: seventh-rec;
}

.img-holder {
	position: relative;
	gap: 20px;
	height: 100px;
	width: 200px;
	text-decoration: none;
}

.recipe-card img {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	border-radius: 5px 5px 0 0;
	object-fit: cover;
}

.recipe-card a {
	text-decoration: none;
}

.recipe-card__info h3 a {
	color: var(--black);
	font-weight: 100;
}

.recipe-card__info p {
	display: flex;
	gap: 20px;
	margin-top: 20px;
}

.recipe-card__info p a {
	border-left: 1px solid var(--grey);
	padding-left: 10px;
	color: var(--black);
}

.recipe-card__info a:hover {
	text-decoration: underline;
	color: var(--orange)
}

.recipe-card{
	display: flex;
	gap: 15px;
}