.user-profile-shortcut-link {
    display: inline-block;
    width: 40px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  
    font-size: 17px;
  }

  .icon-button {
    --button-size: calc(var(--nav-size) * 0.7);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #c4bebe;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }

  .icon-button:hover {
    filter: brightness(1.4);
  }

  .profile {
    height: 30px;
    width: 30px;
  }