/*
==================
    Global CSS 
==================
*/

body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-image: linear-gradient(180deg, rgba(240, 249, 249, 0.8744631641719187) 10%, rgba(231, 247, 247, 0.986) 50%, rgba(240, 249, 249, 0.7147059507396709) 100%);
 
    /* overflow: hidden; */
}