/* Todays Recipe */

.today-recipe {
	position: relative;
	width: 50%;
}

.today-recipe img {
	height: 450px;
	width: 800px;
	
	z-index: -1;
}

.today-recipe article {
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: absolute;
	top: 0;
	left: 0;
	height: 350px;
	width: 90%;
	border: 1px solid var(--black);
	background-color: var(--white);

	text-align: center;

	transform: translate(5%, 15%);
	opacity: 0.8;
	z-index: 0;
}

.today-recipe .today-recipe__title {
	padding: 0 10px;
	font-size: 20px;
}

.today-recipe h2 {
	margin: 7px 0px;

	font-size: 35px;
	font-weight: bold;
	letter-spacing: 1.5px;
	color: var(--brown);
}

.today-recipe__descr {
	margin-bottom: 20px;
	font-size: 18px;
}

.today-recipe a {
	display: inline-block;
	width: 150px;

	padding: 3px 8px;
	margin: 0 auto;
	border: 1px solid var(--black);
	background-color: var(--grey);

	text-align: center;
	text-decoration: none;
	font-size: 20px;
	color: var(--black);
}

.today-recipe a:hover {
	background-color: var(--white)
}