.navigation li {
	text-decoration: none;
	color: var(--black);
	font-size: 20px;
	cursor: pointer;
}

.navigation li:hover {
	text-decoration: underline;
	color: var(--orange);
}

.navigation ul {
	display: flex;
	gap: 20px;
}

.navigation span {
	background-color: var(--orange);
	padding: 10px;
	border-radius: 20px;

	font-size: 20px;
}