/*
=========================
    Global CSS
=========================
*/

:root {
    --white: #ffffff;
    --black: black;
    --grey: grey;
    --green: #19A68C;
    --body: #F0F9F9;
    --box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
}

body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-color: var(--body);
    overflow: hidden;
    background-image: url('/img/veggies.jpg');
    background-position: center center;
    background-size: cover;
}

.mrgn-auto {
    margin: 0 auto;
}

/*
=========================
   Grocery list Section 
=========================
*/

.grocery-list {
    width: 500px;
    max-width: 700px;
    min-width: 340px;
    height: 35%;

    margin: 0 auto;
    margin-top: 40px;
}

.new-task {
    padding: 30px 15px;

    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.new-task input {
    position: relative;
    width: 70%;
    height: 45px;

    padding: 12px;
    border-radius: 5px;
    border: 2px solid var(--grey);
    
    font-size: 15px;
    color: var(--black);
    font-weight: 500;
}

.new-task input:focus {
    outline: none;
    border-color: var(--green);
}

.new-task button {
    position: relative;
    float: right;
    width: 60px;
    height: 45px;
    
    border-radius: 3px;
    background-color: var(--green);
    border: none;
    outline: none;
    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    color: var(--white);
}

.groceries {
    width: 100%;

    padding: 30px 20px;
    margin-top: 40px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 5px;

    list-style: none;
}

.food-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

    padding: 5px 10px;
    margin-top: 10px;
    background-color: var(--white);
    border-radius: 0px;
    border-bottom: 2px solid #d1d3d4;
}

.food-item {
    cursor: pointer;
}

.food-item button {
    height: 100%;
    width: 50px;

    border: none;
    background-color: var(--green);
    border-radius: 5px;
    cursor: pointer;

    color: var(--white);
}