
.my-recipes{
    min-height: 80vh;
}

.card-list {
    /* display */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* border box */
    padding: 0px;
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 20px;
}


.title {
    text-decoration: none;
    text-align: center;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 20px;
}


/* My recipes title */
.my-recipies__title {
    /* border box */
    width: 250px;
    margin: 0 auto;
    margin-top: 30px;
    border-bottom: 3px solid var(--brown);
    /* type */
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}

.my-recipies__title:hover {
    border-bottom: 3px solid var(--orange);
}

/* No recipes title */

.title {
    margin: 15px 0;

    font-size: 40px;
    letter-spacing: 3px;
    min-height: 40vh;
    margin-top: 150px;
}

/*
======================
   Responsive design
======================
*/

@media screen and (max-width: 768px) {

    /*
        Grid
    */

    .card-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    /*
        Font sizes
    */

    .favorites__search-bar .title {
        font-size: 30px;
    }

    .my-recipies__title {
        margin-top: 10px;
        /* type */
        font-size: 25px;
        letter-spacing: 2px;
    }

    .card-info .card-title {
        font-size: 20px;
        margin: 5px 0;
    }

    .card-info span {
        font-size: 14px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .card-info span i {
        margin: 0 6px;
        font-size: 14px;
    }

}