.btn {
    background-color: transparent;
    border: none;

    cursor: pointer;
    overflow: hidden;

    color: black;
}

/*
==================
  Header Section 
==================
*/

.header {
    max-width: 1200px;
    text-align: center;
}

.header__article {
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.header__descr {
    margin-bottom: 10px;

    text-align: center;
    font-size: 19px;
    font-style: italic;
    font-weight: 100;
}

/*
==================
   Hero Section 
==================
*/

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* User profile */

.article__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20%;
    gap: 7px;
}

/* User profile stats */

.user-details {
    /* display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    /* box model */
    padding: 10px 12px;
    width: 90%;
    height: auto;
    background-color: var(--light-gray);

    text-align: center;
}

.profile-image {
    width: 100%;
    border-radius: 50%;
}

.user-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 12px;
}

.stats__wrapper .icon {
    font-size: 16px;
}

/* User profile icons */

.user__icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 10px;
    width: 90%;

    background-color: var(--light-gray);
}

.user__icons .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user__icons .wrapper .btn .icon {
    font-size: 28px;
    padding: 5px;
    transition: 0.8s;
}

.user__icons .wrapper .btn .icon:hover {
    transform: translateY(-4px);
    color: var(--grey);
}

.user__icons .wrapper .icon {
    font-size: 28px;
    padding: 5px;
}

.user__icons .wrapper span {
    margin-top: 3px;
}

/* Article icons and article cover photo */

.article-icons-bar {
    width: 70%;
}

.image {
    width: 90%;
    object-fit: cover;
    background-position: center center;
    height: 500px;

    border-radius: 5px;
}

/* Article-icons-bar styling */

.article-icons-bar .icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 40%;
    margin-bottom: 5px;
    padding: 5px 3px;
    background-color: var(--light-gray);
}

.article-icons-bar .icons .wrapper span,
.article-icons-bar .icons .wrapper p {
    font-size: 18px;
    padding: 3px;
}

/*
==========================
    Article content
==========================
*/

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-left: 40px;
}

.article-content  h3 {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: start;
}


/* ============================================ */

@media screen and (max-width:768px) {
    section {
        width: 100%;
    }

    .hero {
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }

    /* Article icons and article cover photo */

    .article--img--icons {
        width: 70%;
        display: flex;
        flex-direction: column-reverse;
    }

    .image {
        width: 90%;
        height: auto;

        border-radius: 5px;
    }

    /* Icons styling */

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        width: 90%;

        margin-top: 5px;
        padding: 2px 2px;

        background-color:var(--light-gray);
    }

    .article-icons-bar .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Icons styling */
    .article-icons-bar  .icons .wrapper span,
    .article-icons-bar  .icons .wrapper p {
        font-size: 15px;
        padding: 3px;
    }

    /* User profile */

    .user-details {
        width: 100%;

        margin-right: 9px;
        padding: 5px;
    }

    .profile--image {
        width: 100%;
        border-radius: 50%;
    }

    /*
    User profile
*/

    .user__icons {
        padding: 5px;
        margin-right: 10px;
        width: 100%;

        gap: 5px;
    }

    .user__icons .wrapper .btn .icon {
        font-size: 15px;
        padding: 3px;
        transition: 0.8s;
    }

    .user__icons .wrapper .icon {
        font-size: 13px;
        padding: 3px;
    }

    .user__icons .wrapper span {
        margin-top: 3px;
    }
}