/*
=========================
    Global CSS
=========================
*/



/* body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-color: var(--body);
    overflow: hidden;
    background-image: url('../../../public/img/veggies.jpg');
    background-position: center center;
    background-size: cover;
} */

/*
=========================
   Grocery list Section 
=========================
*/

.grocery-list {
    width: 500px;
    height: 35%;
    max-width: 700px;
    min-width: 340px;
    margin: 0 auto;
    margin-top: 40px;
}

/* New task */

.new-task {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;

    padding: 30px 15px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-grocery-list);
    background-color: var(--white);
}

/* New task user input */

.new-task input {
    width: 70%;
    height: 45px;

    padding: 12px;
    border-radius: 5px;
    border: 2px solid var(--grey);

    font-size: 15px;
    color: var(--black);
    font-weight: 500;
}

.new-task input:focus {
    outline: none;
    border-color: var(--grass-green);
}

/* New task add button */

.new-task button {
    width: 20%;

    border-radius: 3px;
    background-color: var(--green);
    border: none;
    outline: none;
    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    color: var(--white);
}

.groceries {
    width: 100%;

    padding: 30px 20px;
    margin-top: 40px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    background-color: var(--white);

    list-style: none;
}

.food-item {
    display: flex;
    align-items: center;
    position: relative;

    width: 100%;
    height: 50px;

    padding: 5px 10px;
    margin-top: 10px;
    background-color: var(--white);
    border-radius: 0px;
    border-bottom: 2px solid #d1d3d4;
}

.food-item p {
    cursor: pointer;
}

.food-item p {
    width: 10%;
}

.food-item__task-btn{
    position: absolute;
    top: -10px;
    right: 0px;
    transform: translate(-50%, -50%);

    height: 90%;
    width: 15%;

    border: none;
    background-color: var(--green);
    border-radius: 5px;
    cursor: pointer;

    color: var(--white);
}