/*
=========================
    Global CSS
=========================
*/

:root {
    --white: #ffffff;
    --form-elements-background-clr: rgba(224, 230, 230, 0.986);
    --green: rgb(115, 172, 162);
    --black: rgba(0, 0, 0, .5);
    --grey: grey;
    --select-background-clr: #888f8f;
    --form-pseudo-background-clr: rgba(156, 163, 163, 0.5);
}

.mrgn-auto {
    margin: 0 auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/*
======================
    Create Section
======================
*/

.create {
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
}

h1 {
    padding-top: 20px;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Form and Form Before Effect */

form {
    /* display props */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* positioning */
    position: relative;
    /* box model */
    width: 90%;
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    /*type*/
    color: var(--white);
}

form::before {
    /* positioning */
    content: '';
    position: absolute;
    /*box-model*/
    background-color: var(--form-pseudo-background-clr);
    width: 100%;
    height: 100%;

    z-index: -1;
}

/* Select Dropdown & ::After Dropdown Effect */

form select,
form input,
form textarea {
    /* box model */
    padding: 10px 8px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--form-elements-background-clr);
    /*type*/
    font-size: 18px;
    color: var(--grey);
    /*misc*/
    appearance: none;
}

form select:focus,
form input:focus,
form textarea:focus {
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
}

form select {
    cursor: pointer;
}

::placeholder {
    font-size: 20px;
    letter-spacing: 1px;
    color: grey;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    /* positioning */
    content: '\25BC';
    position: absolute;
    bottom: 0;
    right: 0;
    /* box model */
    padding: 9px;
    border-radius: 0 10px 10px 0;
    background-color: var(--select-background-clr);
    /*type*/
    font-size: 20px;
    color: white;
    cursor: pointer;
    /*functionality*/
    transition: .25s all ease;
}

.select-wrapper:hover::after {
    color: var(--green)
}

.title {
    width: 60%;
    margin-top: 20px;
}

form label {
    margin-bottom: 5px;

    font-size: 24px;
    letter-spacing: 1px;
}

.image-url {
    width: 60%;
}

.descr {
    width: 60%;
}

.category {
    width: 60%;
}

.content {
    width: 60%;
    margin-bottom: 20px;
}

/* Form Button */

.create-article-btn {
    padding: 15px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40%!important;
    margin: 0 auto!important;

    border-radius: 10px;
    background-color: var(--background-clr);
    outline: none;

    font-size: 22px !important;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.create-article-btn:hover {
    background-color: var(--form-elements-background-clr);
    color: var(--grey)
}