/* Profile dropdown and Create btn dropdown menus */

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  top: 82px;
  background-color: var(--grass-green);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 130px;
  z-index: 5;
}

.dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transform: translateX(-7%);
  transition: var(--speed) ease;
}

.dropdown.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.dropdown-create-btn {
  top: 27px;
  width: 170px;
}

.dropdown-create-btn.active {
  transform: translateX(90%);
}

.dropdown-create-btn.inactive {
  transform: translateX(44%);
}

.dropdown .link-item {
  transition: color .2s ease-in;
}

/* Create & Logout buttons styling */

.create-btn,
.logout-btn {
  padding: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--white);

  transition: color .2s ease-in;
}

.create-btn:hover,
.create-btn svg:hover,
.logout-btn:hover {
  color: black;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* Create menu arrow svg */
.profile-wrapper svg {
  position: relative;
  top: 6px;
  left: 5px;

  width: 20px;
  height: 20px;

  color: var(--white);
  transition: color .2s ease-in;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;

  --button-size: calc(var(--nav-size) * 0.9);
  width: var(--button-size);
  height: var(--button-size);

  transition: filter 300ms;
}

/* User profile, when logged in */

.profile-button {
  width: 80px;
  height: 70px;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.user-profile-img {
  border-radius: 50%;
  height: 55px;
  width: 70px;
}

.user-profile-img:hover {
  box-shadow: 0 0 2px 2px #b6b3b3;
  filter: brightness(1.2);
}

/* User profile, when lguest */

.profile-button svg {
  width: 55px;
  height: 55px;
  color: var(--white);
  background-color: var(--light-gray);
  padding: 8px;
  border-radius: 10px;
}

.profile-button svg:hover {
  filter: brightness(1.2);
}
