/*
=========================
    Global CSS
=========================
*/

body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-image: url('/img/wood.jpg');
    background-position: center center;
    background-repeat: none;
    background-size: cover;
}

.mrgn-auto {
    margin: 0 auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/*
======================
    Create Section 
======================
*/

.create {
    margin: 40px 0;
}

form label {
    margin-bottom: 5px;
    font-size: 20px;
    letter-spacing: 1px;
}

/* 
    Select Dropdown & :: After Dropdown effect
*/

form select,
form input,
form textarea {
    /* box model */
    padding: 10px 8px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #f0e5db;
    /*type*/
    color: grey;
    font-size: 18px;
    /*misc*/
    appearance: none;
}

form select {
    cursor: pointer;
}

::placeholder {
    font-size: 20px;
    letter-spacing: 1px;
}

.select-wrapper {
    position: relative;
}

.after::after {
    /* positioning */
    content: '\25BC';
    position: absolute;
    bottom: 0;
    right: 0;
    /* box model */
    padding: 9px;
    background-color: #575e5e;
    /*type*/
    font-size: 20px;
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    /*functionality*/
    transition: .25s all ease;
}

.select-wrapper:hover::after {
    color: rgb(115, 172, 162);
}

/*
    Form and Form After Effect
*/

form {
    justify-content: center;
    /* positioning */
    position: relative;
    /* box model */
    width: 90%;
    padding: 30px;
    background-color: transparent;
    border: 1px solid black;
    /*type*/
    color: white;
    /* misc */
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
}

/*
    Form Inputs and Text-areas positioniong
*/

.group--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    padding: 20px;
}


.group--wrapper .select-wrapper {
    width: 20%;
}

.title {
    width: 50%;
}

.descr {
    width: 50%;
}

.ingredients,
.steps {
    width: 70%;
}



@media screen and (max-width:768px) {
    .title {
        width: 80%;
    }
    
    .descr {
        width: 70%;
    }
    
    .ingredients,
    .steps {
        width: 70%;
    } 

    .group--wrapper{
        flex-direction: column;
    }

    .group--wrapper .select-wrapper {
        width: 40%;
    }
    
}