.mrgn-auto {
    margin: 0 auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/*
======================
    Create Section
======================
*/

.create--article-section {
    width: 1000px;
    margin: 50px auto;
}

.create--article-section h1 {
    padding-top: 20px;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Form and Form Before Effect */

.create-article-form {
     /* positioning */
     position: relative;
    /* display props */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* box model */
    width: 90%;
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    /*type*/
    color: var(--white);
}

.create-article-form::before {
    /* positioning */
    content: '';
    position: absolute;
    /*box-model*/
    background-color: var(--form-pseudo-background-clr);
    width: 100%;
    height: 100%;

    z-index: -1;
}

/* Select Dropdown & ::After Dropdown Effect */

.create-article-form select,
.create-article-form input,
.create-article-form textarea {
    /* box model */
    padding: 10px 8px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--form-elements-background-clr);
    /*type*/
    font-size: 18px;
    color: var(--grey);
    /*misc*/
    appearance: none;
}

.create-article-form select:focus,
.create-article-form input:focus,
.create-article-form textarea:focus {
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
}

.create-article-form select {
    cursor: pointer;
}

::placeholder {
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--grey);
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    /* positioning */
    content: '\25BC';
    position: absolute;
    bottom: 0;
    right: 0;
    /* box model */
    padding: 9px;
    border-radius: 0 10px 10px 0;
    background-color: var(--select-background-clr);
    /*type*/
    font-size: 20px;
    color: white;
    cursor: pointer;
    /*functionality*/
    transition: .25s all ease;
}

.select-wrapper:hover::after {
    color: var(--green)
}

.create--article-section .title {
    width: 60%;
    margin-top: 20px;
}

.create-article-form label {
    margin-bottom: 5px;

    font-size: 24px;
    letter-spacing: 1px;
}

.create--article-section .descr,
.create--article-section .image-url,
.create--article-section .category {
    width: 60%;
}

.create--article-section .content {
    width: 60%;
    margin-bottom: 20px;
}

/* Form Button */

.create-article-btn {
    margin: 30px auto ;
    padding: 15px 0px;
    width: 40%;
    border-radius: 10px;
    background-color: var(--background-clr);

    font-size: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.create-article-btn:hover {
    background-color: var(--form-elements-background-clr);
    color: var(--grey)
}