/*
=========================
    Global CSS
=========================
*/

body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-color: var(--body);
    min-height: 100vh;
    /* overflow: hidden; */
}

.mrgn-auto {
    margin: 0 auto;
}

.title{
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/*
=========================
      GRID GALLERY 
=========================
*/

.recipe-details {
    padding: 0px 50px;

}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 16px;
    grid-auto-rows: 300px;
    gap: 16px;

}

.image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

/*
=========================
      RECIPE TITLE 
=========================
*/

.recipe-head {
    display: grid;
    grid-template-columns: 100px 1fr 100px 100px;
    margin: 25px 0;
    gap: 10px;
    padding: 0 15px;
    font-style: italic;
}

.recipe-head .main-info h1 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.main-info {
    margin: 0 auto;
}

.main-info p {
    display: inline-block;
    margin-right: 10px;
    color: grey;
    font-size: 16px;
}

.main-info p i {
    margin-right: 5px;
}

.recipe-head button {
    border: none;
    cursor: pointer;
}

.recipe-head button i {
    font-size: 25px;
}

.btn {
    font-size: 25px;
    padding: 5px;
}

/*
=========================
      HEADER BUTTONS 
=========================
*/

/* Edit button */
.edit-btn {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(241, 253, 29, 0.5), 0 0 0 0 rgba(252, 176, 69, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.edit-btn:after {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #FAFA37;
    background-image: linear-gradient(225deg, rgba(241, 253, 29, 0.5) 0%, rgba(252, 176, 69, 0.5) 50%, #fcb045 100%);
    z-index: -1;
    transition: transform 05s ease;
}

.edit-btn:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(241, 253, 29, 1), -10px 10px 25px 0 rgba(252, 176, 69, 0.5);
}

/* Delete button */
.delete-btn {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(241, 11, 7, 0.5), 0 0 0 0 rgba(158, 25, 7, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.delete-btn:after {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: red;
    background-image: linear-gradient(225deg, rgba(241, 11, 7, 0.5) 0%, rgba(211, 74, 11, 0.5) 50%);
    z-index: -1;
    transition: transform 05s ease;
}

.delete-btn:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(241, 11, 7, 0.5), -10px 10px 25px 0 rgba(240, 34, 7, 0.5);
}


/* Favourites button */

.favourites {
    color: red;
    border-radius: 50px;
}

/*
=========================
      INGREDIENTS
=========================
*/

.short-descr {
    display: block;
    text-align: center;
    font-style: italic;
    width: 800px;
    margin: 0 auto;
}

.container {
    display: flex;
    gap: 10px;
}

.image-grid {
    width: 60%;
}

.ingredients li {
    margin-bottom: 10px;
}

.ingredients li p {
    font-size: 22px;
    letter-spacing: 1px;
}

.ingredients {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    border-radius: 5px;
    list-style: none;
    width: 30%;
}

.food-item {
    background-color: var(--white);
    height: 50px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 0px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
}

.food-item p {
    cursor: pointer;
}

.food-item button {
    border: none;
    background-color: #19A68C;
    height: 100%;
    width: 50px;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
}

.food-item button i {
    color: #fff;
}

/*
=========================
      INGREDIENTS
=========================
*/

.cooking-steps {
    list-style: decimal;
}

.cooking-steps li {
    margin-bottom: 7px;
    font-size: 16px;
}

.cooking-process h2{
    margin-top: 22px;
}




/*Anything under 1024px*/
@media screen and (max-width : 1024px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 200px;
    }
}