
.latest-recipes__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template:
		"first-rec first-rec "
		"sec-rec third-rec"
		"fourth-rec fifth-rec"
		"sixth-rec seventh-rec";

	justify-content: center;
	align-items: center;
	gap: 20px;

	padding: 0px;
}

.latest-recipes__grid .recipe-card:nth-child(1) {
	grid-area: first-rec;
}

.latest-recipes__grid .recipe-card:nth-child(2) {
	grid-area: sec-rec;
}

.latest-recipes__grid .recipe-card:nth-child(3) {
	grid-area: third-rec;
}

.latest-recipes__grid .recipe-card:nth-child(4) {
	grid-area: fourth-rec;

}

.latest-recipes__grid .recipe-card:nth-child(5) {
	grid-area: fifth-rec;
}

.latest-recipes__grid .recipe-card:nth-child(6) {
	grid-area: sixth-rec;
}

.latest-recipes__grid .recipe-card:nth-child(7) {
	grid-area: seventh-rec;
}

.recipe-card {
	display: flex;
	gap: 20px;
	text-decoration: none;
}

.recipe-card img {
	width: 30%;
}

.recipe-card div {
	width: 40%;
}

.recipe-card a {
	text-decoration: none;
}

.recipe-card__info h3 a {
	color: var(--black);
	font-weight: 100;
}

.recipe-card__info p {
	display: flex;
	gap: 20px;
}

.recipe-card__info p a {
	border-left: 1px solid var(--grey);
	padding-left: 10px;
	color: var(--black);
}

.recipe-card__info a:hover {
	text-decoration: underline;
	color: var(--orange)
}

