/* 
===================
 Gallery Articles
===================
*/

/* Grid display */

.gallery ul {
	display: grid;
	grid-template:
		"first second third"
		"fourth second fifth";

	grid-template-columns: repeat(3, 1fr);
	gap: 20px;

	justify-content: center;
	align-items: center;

	padding: 0px;
}

.gallery ul .article-item:nth-child(1) {
	grid-area: first;
}

.gallery .article-item:nth-child(2) {
	grid-area: second;
}

.gallery .article-item:nth-child(3) {
	grid-area: third;
}

.gallery .article-item:nth-child(4) {
	grid-area: fourth;
}

.gallery .article-item:nth-child(5) {
	grid-area: fifth;
}

.gallery .article-item:nth-child(2) img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}


/*
=======================
    Hero section
=======================
*/

.hero {
	display: flex;
	height: 450px;
}


/*
============================
  Recently added from users
============================
*/

.recipe-by-user {
	width: 40%;
}

.recipe-by-user ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
	;
}

.recipe-by-user article {
	font-size: 20px;
}

.recipe-by-user ul article {
	display: flex;
	gap: 20px;
	align-items: flex-start;
	justify-content: center;
}

.recipe-by-user article img {
	width: 20%;
	border-radius: 60%
}

.recipe-by-user article div {
	width: 60%;
}

.recipe-by-user article a {
	text-decoration: none;
	color: var(--black);
}

.recipe-by-user article a:hover {
	text-decoration: underline;
	color: var(--orange);
}

.recipe-by-user ul li {
	border-bottom: 1px solid var(--light-gray);
	width: 90%;
	padding-bottom: 10px;
}

.recipe-by-user__info p {
	color: var(--grey);
	font-size: 16px;
}

/* 
==================
 Recently added
==================
*/

/*
	Navigation
*/

.latest-recipes nav a {
	text-decoration: none;
	color: var(--black);
	font-size: 20px;
}

.latest-recipes nav a:hover {
	text-decoration: underline;
	color: var(--orange);
}

.latest-recipes nav ul {
	display: flex;
	gap: 20px;
}

/* 
	Recipes grid
 */

.latest-recipes__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template:
		"first-rec first-rec "
		"sec-rec third-rec"
		"fourth-rec fifth-rec"
		"sixth-rec seventh-rec";

	justify-content: center;
	align-items: center;
	gap: 20px;

	padding: 0px;
}

.latest-recipes__grid .recipe-card:nth-child(1) {
	grid-area: first-rec;
}

.latest-recipes__grid .recipe-card:nth-child(2) {
	grid-area: sec-rec;
}

.latest-recipes__grid .recipe-card:nth-child(3) {
	grid-area: third-rec;
}

.latest-recipes__grid .recipe-card:nth-child(4) {
	grid-area: fourth-rec;

}

.latest-recipes__grid .recipe-card:nth-child(5) {
	grid-area: fifth-rec;
}

.latest-recipes__grid .recipe-card:nth-child(6) {
	grid-area: sixth-rec;
}

.latest-recipes__grid .recipe-card:nth-child(7) {
	grid-area: seventh-rec;
}

.recently-recipes {
	width: 90%;
	margin: 0 auto;
}

.latest-recipes span {
	background-color: var(--orange);
	padding: 10px;
	border-radius: 20px;

	font-size: 20px;
}

.recipe-card {
	display: flex;
	gap: 20px;
	text-decoration: none;
}

.recipe-card img {
	width: 30%;
}

.recipe-card div {
	width: 40%;
}

.recipe-card a {
	text-decoration: none;
}

.recipe-card__info h3 a {
	color: var(--black);
	font-weight: 100;
}

.recipe-card__info p {
	display: flex;
	gap: 20px;
}

.recipe-card__info p a {
	border-left: 1px solid var(--grey);
	padding-left: 10px;
	color: var(--black);
}

.recipe-card__info a:hover {
	text-decoration: underline;
	color: var(--orange)
}