.user-profile-shortcut-link {
  display: inline-block;
  width: 40px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  font-size: 17px;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.7);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #c4bebe;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.4);
}

.profile {
  height: 30px;
  width: 30px;
}


.dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 60px;
  background-color: var(--grass-green);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200x;
  z-index: 5;
}

/* Dropdown Create btn */
.dropdown-create-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transform: translateX(44%);
  transition: var(--speed) ease;
}

.dropdown-create-btn.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transform: translateX(44%);

  transition: var(--speed) ease;
}

.dropdown-create-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 28px;
  background-color: var(--grass-green);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 170px;
  z-index: 5;
}

.create-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--white);
  padding: 0px;
  transition: color .2s ease-in;
}

.dropdown .link-item {
  transition: color .2s ease-in;

}

.create-btn:hover {
  color: black;
}

.profile-wrapper svg {
  width: 20px;
  height: 20px;
}

.create-btn svg:hover {
  color: black
}


.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.profile-wrapper svg{
  color: white;
  transition: color .2s ease-in;
}

.profile-wrapper:hover{
  color: black;
}

.user-profile-button {
  display: inline-block;
  width: 40px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  font-size: 17px;
}
