/*
==================
    Global CSS 
==================
*/



.btn {
	background-color: transparent;
	border: none;

	color: black;

	cursor: pointer;
	overflow: hidden;
}

.dspl-flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dspl-flex-row-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
==================
  Header Section 
==================
*/

.header {
	max-width: 1200px;
	margin-bottom: 30px;
	text-align: center;
}

.header__h1 {
	font-size: 35px;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.header__descr {
	text-align: center;
	font-size: 19px;
	font-style: italic;
	font-weight: 100;
}

/*
==================
   Hero Section 
==================
*/

.hero {
	display: flex;
	align-items: flex-start;
	justify-content: center;

	max-width: 1500px;
}

/* User profile and products */

.content {
	width: 20%;
	gap: 7px;
}

/* User profile */

.user__details {
	gap: 7px;
	/* Box model */
	width: 90%;
	height: auto;
	background-color: #cfd8d8;
	padding: 10px 12px;

	text-align: center;
}

.user__image{
	width: 100%;
	border-radius: 50%;
}

.user__stats {
	gap: 10px;
	font-size: 12px;
}

.stats__wrapper .icon {
	font-size: 16px;
}

/* User profile icon */

.user__icons {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	padding: 10px;

	width: 90%;
	background-color: #e4dede;
}


.user__icons .main-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	width: 50%;
}

.user__icons .wrapper .btn .icon {
	padding: 5px;
	font-size: 20px;
	transition: 0.8s;
}

.user__icons .wrapper .btn {
	width: 100px !important;
}

.user__icons .wrapper .btn .icon:hover {
	transform: translateY(-4px);
	color: grey;
}

.user__icons .wrapper {
	margin-top: 3px;
}

/*
    Recipe icons and recipe image
*/

.article-img-icons {
	width: 70%;
}

/*
=========================
      Grid Gallery
=========================
*/

.recipe-details {
	padding: 0px 50px;
}

.image-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	margin-top: 10px;

	grid-auto-rows: 250px;
	gap: 16px;
}

.image-grid>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

.image-grid-col-2 {
	grid-column: span 2;
}

.image-grid-row-2 {
	grid-row: span 2;
}

/* Add Image Button */

.add-image-container {
	padding: 30px;
}

.add-image-container {
	margin-top: 40px;

	width: 80%;
	height: 50%;
	border: 1px dotted black;
	border-radius: 20px;
	cursor: pointer;

	font-size: large;
}

.add-image-container label span {
	padding-top: 10px;

	font-weight: lighter;
	font-size: small;
}

.add-image-container input {
	display: none;
}

/* Recipe icons styling */

.icons {
	gap: 14px;

	padding: 5px 3px;

	width: 50%;
	margin-bottom: 5px;
	background-color: #e4dede;
}

.icons .wrapper .icon {
	padding: 3px;
	font-size: 20px;
}

.icons .wrapper span {
	margin-top: 3px;
}

/*
========================
    Products section
========================
*/

.products {
	width: 50%;
}

.food-item {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	height: 50px;
	width: 100%;

	padding: 5px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 0px;
	border-bottom: 2px solid #d1d3d4;
	background-color: var(--white);
}

.food-item p {
	font-size: 22px;
	letter-spacing: 1px;
	cursor: pointer;
	width: 20%;
}

.food-item button {
	position: relative;
	height: 100%;
	border-radius: 5px;
	border: none;
	width: 10% !important;
	color: var(--white);
	cursor: pointer;
}

.food-item .icon {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.food-item .add {
	background-color: #19A68C;
}

.food-item .remove {
	background-color: rgb(235, 48, 48);
}

/*
==========================
    How to cook section 
==========================
*/

.cooking-process h2 {
	margin-bottom: 10px;
	text-align: center;
	letter-spacing: 3px;
}

.cooking-process p {
	text-align: justify;
	line-height: 1.5;
	font-size: 18px;
}

/*
=========================
   Media Mobile Screen
=========================
*/


@media screen and (max-width:768px) {
	section {
		width: 100%;
	}

	/*
==================
  Hero Section 
==================
*/

	.hero {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	/* Content article User details */
	.content {
		display: flex;
		flex-direction: row;
		align-items: flex-start;

		width: 70%;
	}

	.user__details {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		padding: 5px;
		margin-right: 9px;
	}

	.user__icons {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
	}

	.user__icons .wrapper {
		font-size: 17px;
	}

	.user__icons .wrapper .btn .icon {
		padding: 3px;
		font-size: 20px;
	}

	/* Recipe time icons box */

	.icons {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 2px;

		width: 100%;
		margin-top: 5px;
		padding: 2px 2px;
	}

	.article-img-icons {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin: 0;
	}

	.wrapper {
		display: flex;

		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	/* Image Grid */

	.image-grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 5px;
		margin-top: 0px;
	}

	/*
=======================
    Products Section 
=======================
*/

	.products {
		width: 70%;
	}

	.food-item {
		display: flex;
		align-items: center;
		justify-content: space-between;

		height: 50px;
		width: 100%;
		margin-bottom: 7px;
		padding: 4px 8px;
		margin-top: 10px;
		border-radius: 0px;
		border-bottom: 2px solid #d1d3d4;
		background-color: var(--white);
	}

	.food-item button {
		height: 80%;
		width: 10%;

		border-radius: 5px;
	}

	.food-item p {
		font-size: 20px;
		letter-spacing: 1px;
	}
}