.background {
    background-color: var(--body);
    background-image: url('../../../public/img/veggies.jpg');
    background-position: center center;
    background-size: cover;
    padding: 30px 0;
    min-height: 80vh;
}

/*
   Grocery list Section 
*/

.grocery-list {
    width: 800px;
    max-width: 700px;
    min-width: 340px;
    margin: 0 auto;
    margin-top: 40px;
}

/* New task */

.new-task form {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;

    padding: 30px 15px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-grocery-list);
    background-color: var(--white);
}

/* New task user input */

.new-task input {
    width: 70%;
    height: 45px;

    padding: 12px;
    border-radius: 5px;
    border: 2px solid var(--grey);

    font-size: 15px;
    color: var(--black);
    font-weight: 500;
}

.new-task input:focus {
    outline: none;
    border-color: var(--grass-green);
}

/* New task add button */

.new-task button {
    width: 65px;
    height: 45px;

    border-radius: 3px;
    background-color: var(--green);
    border: none;
    outline: none;
    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    color: var(--white);
}

.new-task button:hover {
    filter: brightness(1.2);
}

.groceries {
    width: 100%;

    padding: 30px 20px;
    margin-top: 40px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    background-color: var(--white);

    list-style: none;
}