.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TODO:to reuse .icon button classes from global class */

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;

  --button-size: calc(var(--nav-size) * 0.7);
  width: var(--button-size);
  height: var(--button-size);
  padding: 5px;
  margin: 2px;
  border-radius: 50%;

  background-color: var(--light-gray);
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.4);
}

.icon-button svg {
  fill: var(--white);
  width: 30px;
  height: 25px;
}

.icon-button:hover {
  filter: brightness(1.4);
}

.icon-button svg {
  fill: var(--white);
  width: 30px;
  height: 25px;
}