/*
=========================
    Register section 
=========================
*/

.register-section {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    margin: 50px auto;
    background-color: var(--white);
    border-radius: 5px;
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
}

/* profile pic */
.profile-pic {
    position: relative;
    left: 30px;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

.profile-pic:hover .uploadBtn {
    display: block;
}

.profile-pic img {
    height: 200px;
}

.photo {
    height: 100%;
    width: 100%;
}

.input-profile-pic {
    display: none;
}

.uploadBtn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

.register-section .title {
    position: relative;

    font-size: 25px;
    font-weight: 500;
}

.register-section .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    width: 140px;
    height: 3px;
    background: var(--linear-blue-pink)
}

.register-section .register-form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.register-form .user-details .txt-fields {
    width: calc(100% / 2 - 10px);
    margin-bottom: 15px;
}

.user-details .txt-fields input {
    position: relative;
    width: 100%;
    height: 45px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid var(--light-gray);
    border-bottom-width: 2px;
    outline: none;

    font-size: 18px;

    transition: all 0.3s ease;
}

.txt-fields label {
    display: block;
    margin-bottom: 5px;

    font-weight: 500;
    font-size: 18px;
}

.register-submit-btn {
    width: 100%;
    height: 45px;
    margin: px 0;
    outline: none;
    background: var(--linear-blue-pink);
    border-radius: 5px;
    border: none;

    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;

    cursor: pointer;
}

.register-submit-btn:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

/* errors styling */

.error {
    padding: 6px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: var(--red);
    border-radius: 5px;

    color: var(--white);
    text-align: center;
}

.error.email {
    width: 70%;
}

.error.imageUrl {
    width: 80%;
}

.red-style {
    color: var(--red);
    border: 2px solid var(--red) !important
}

.green-style {
    color: rgb(13, 216, 13);
    border: 2px solid rgb(13, 216, 13) !important
}

.button-error {
    width: 50%;
    margin: 0 auto;
}

@media(max-width:768px) {
    .register-section {
        max-width: 90%;
    }

    .txt-fields {
        width: 90%;
        margin-bottom: 15px;
    }
}