/*
  Global CSS
*/

body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-color: var(--body);
    height: 100vh;
}

/*
=================
 Main 3 Articles
=================
*/

.section-info {
    text-align: center;
    line-height: 2;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.title {
    font-size: 25px;
    font-weight: bolder;
}

.articles {
    width: 1400px;
    margin: 0 auto;
    margin-top: 30px;
}

/* Articles grid */
.image-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}


.article-item .info {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    z-index: 1;
}

/* Article Pseudo element */
.article-item {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.article-item::after {
    /* position */
    content: '';
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    left: 0;
    /*box-model*/
    background: linear-gradient(180deg, rgba(219, 219, 100, 0) 11%, rgba(10, 10, 5, 0.9191877434567577) 85%);
}

/* Image hover effect */
.article-item img {
    height: 100%;
    position: relative;
    transition: all .4s lienar;
}

.article-item:hover img {
    transform: scale(1.1);
    transition-duration: 2s;
}

/* Article fonts */
.info h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
    z-index: 1;
}

.info p {
    color: #fff;
    text-align: center;
}

.info span {
    border-left: 1px solid #fff;
    margin-left: 5px;
    padding-left: 5px;
}

/*
=================
  Rest Articles
=================
*/

.rest-articles-section {
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}

.rest-articles{
    padding-left: 0;
}

.rest-articles a {
    text-decoration: none;
    padding: 15px;
}

/*
    Card
*/
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border-bottom: 1px solid grey;
}

.card img {
    padding: 15px;
    width: 25%;
    height: 100%;
}

.card .card-info {
    width: 70%;
}

.card-info h3 {
    margin-bottom: 5px;
    
    font-size: 20px;
    letter-spacing: 1px;
    color: #505152;
}

.card-info .date {
    margin-bottom: 5px;

    font-size: 16px;
    font-weight: bold;
    color: #5c5e61;
}

.card-info span{
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid grey;
}
.card-info .descr {
    font-size: 18px;
    color: #6e7174;
}