.food-item {
    display: flex;
    align-items: center;
    position: relative;

    width: 100%;
    height: 50px;

    padding: 5px 10px;
    margin-top: 10px;
    background-color: var(--white);
    border-radius: 0px;
    border-bottom: 2px solid #d1d3d4;
}

.food-item p {
    cursor: pointer;
    width: 250px;
    font-size: 18px;
}

.food-item__task-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;

    height: 85%;
    width: 15%;
    border: none;
    background-color: var(--green);
    border-radius: 5px;
    cursor: pointer;

    color: var(--white);
}

.food-item__task-btn:hover {
    filter: brightness(1.2)
}