/*
=========================
    Global CSS
=========================
*/


body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-color: var(--body);
    overflow: hidden;
}

.mrgn-auto {
    margin: 0 auto;
}

/*
=========================
        LOGIN 
=========================
*/

:root {
    --grey: #A8ACAF;
    --white: #ffffff;
    --body: #F0F9F9;
    --blue: #2691d9;
    --lightgray:lightslategray;
}

.login-section {
    width: 500px;
    background-color: var(--white);
    margin-top: 40px;
    padding: 20px;
    -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.63);
    border-radius: 20px;
}

/* Login Title */
.login-section h1 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--grey);
    letter-spacing: 1px;
}

/* divs with input & label */
form .text-field {
    position: relative;
    border-bottom: 2px solid var(--grey);
    margin: 30px 0;
}

.text-field input {
    font-size: 16px;
    padding: 0px 10px;
    width: 100%;
    border: none;
    background-color: none;
    outline: none;
    height: 50px;
}

.text-field label {
    position: absolute;
    top: 50%;
    left: 8px;
    color: var(--lightgray);
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
}

/* span pseudo element */
.text-field span::before {
    content: '';
    position: absolute;
    top: 48px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--blue);
    transition: .5s;
}

.text-field input:focus~label,
.text-field input:valid~label {
    top: -5px;
    color: var(--blue);
}

.text-field input:focus~span::before,
.text-field input:valid~span::before {
    width: 100%;
}

/* form button */
form button {
    width: 100%;
    border: 1px solid;
    outline: none;
    padding: 8px 14px;
    border-radius: 25px;
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

form button:hover {
    border-color: var(--blue);
    transition: .5s;
}

/* sign up div */
.sign-up-link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.sign-up-link a {
    text-decoration: none;
    color: var(--blue);
}

.sign-up-link a:hover {
    text-decoration: underline;
}