/*
==================
    Global CSS 
==================
*/

body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-image: linear-gradient(180deg, rgba(240, 249, 249, 0.8744631641719187) 10%, rgba(231, 247, 247, 0.986) 50%, rgba(240, 249, 249, 0.7147059507396709) 100%);
    height: 100vh;
    /* overflow: hidden; */
}

section {
    margin: 0 auto;
    max-width: 1500px;
    min-width: 500px;

    margin-bottom: 50px;
}

.btn {
    background-color: transparent;
    border: none;

    color: black;

    cursor: pointer;
    overflow: hidden;
}

.flex-col-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
==================
  Header Section 
==================
*/

.header {
    max-width: 1200px;
    text-align: center;
}

.article--header {
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.descr {
    margin-bottom: 10px;

    text-align: center;
    font-size: 19px;
    font-style: italic;
    font-weight: 100;
}

/*
==================
   Hero Section 
==================
*/

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    max-width: 1500px;

    margin: 0 auto;
    margin-bottom: 50px;
}

/*
   User profile 
*/

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20%;
    gap: 7px;
}

/*
    User profile stats
*/

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;

    /* positioning */
    padding: 10px 12px;

    /* box model */
    width: 90%;
    height: auto;

    text-align: center;

    background-color: #cfd8d8;
}

.profile--image {
    width: 100%;
    border-radius: 50%;
}

.user__stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 12px;
}

.stats__wrapper i {
    font-size: 16px;
}

/*
    User profile icons
*/

.user--icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 10px;

    width: 90%;

    background-color: #e4dede;
}

.user--icons .wrapper .btn i {
    font-size: 28px;
    padding: 5px;
    transition: 0.8s;
}

.user--icons .wrapper .btn i:hover {
    transform: translateY(-4px);
    color: grey;
}

.user--icons .wrapper i {
    font-size: 28px;
    padding: 5px;
}

.user--icons .wrapper span {
    margin-top: 3px;
}

/*
    Article icons and article cover photo
*/

.article--img--icons {
    width: 70%;
}

.image {
    width: 90%;
    object-fit: cover;
    background-position: center center;
    height: 500px;

    border-radius: 5px;
}

/*
    Icons styling
*/

.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;


    width: 40%;

    margin-bottom: 5px;
    padding: 5px 3px;

    background-color: #e4dede;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
    Icons styling
*/

.icons .wrapper .btn i {
    font-size: 15px;
    padding: 3px;
}

.icons .wrapper i {
    font-size: 20px;
    padding: 3px;
}

.icons .wrapper span {
    margin-top: 3px;
}

/*
==========================
    Article content
==========================
*/

.article--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-left: 40px;
}

.article--content h3 {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: start;
}


/* ============================================ */

@media screen and (max-width:768px) {
    section {
        width: 100%;
    }

    .hero {
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }

    /*
    Article icons and article cover photo
*/

    .article--img--icons {
        width: 70%;
        display: flex;
        flex-direction: column-reverse;
    }

    .image {
        width: 90%;
        height: auto;

        border-radius: 5px;
    }

    /*
    Icons styling
*/

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        width: 90%;

        margin-top: 5px;
        padding: 2px 2px;

        background-color: #e4dede;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /*
    Icons styling
*/
    .icons .wrapper .btn i {
        font-size: 15px;
        padding: 3px;
    }

    .icons .wrapper i {
        font-size: 15px;
        padding: 3px;
    }

    .icons .wrapper span {
        margin-top: 3px;
        font-size: 15px;
    }

    /*
    User profile
*/

    .user-details {
        width: 100%;

        margin-right: 9px;
        padding: 5px;
    }

    .profile--image {
        width: 100%;
        border-radius: 50%;
    }

    .user__stats {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        font-size: 12px;
    }

    /*
    User profile
*/

    .user--icons {
        padding: 5px;
        margin-right: 10px;
        width: 100%;

        gap: 5px;
    }

    .user--icons .wrapper .btn i {
        font-size: 15px;
        padding: 3px;
        transition: 0.8s;
    }

    .user--icons .wrapper i {
        font-size: 13px;
        padding: 3px;
    }

    .user--icons .wrapper span {
        margin-top: 3px;
    }
}