/*
==================
    Global CSS 
==================
*/

body {
    font-family: "Roboto";
    box-sizing: border-box;
    background-image: linear-gradient(180deg, rgba(240, 249, 249, 0.8744631641719187) 10%, rgba(231, 247, 247, 0.986) 50%, rgba(240, 249, 249, 0.7147059507396709) 100%);
    height: 100vh;
    /* overflow: hidden; */
}

section {
    margin: 0 auto;
    width: 1500px;

    margin-bottom: 30px;
}

/*
==================
  Header Section 
==================
*/

.header{
    max-width: 1200px;
    text-align: center;
}

.recipe--header {
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.descr {
    margin-bottom: 10px;

    text-align: center;
    font-size: 19px;
    font-style: italic;
    font-weight: 100;
}

/*
==================
   Hero Section 
==================
*/

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 1500px;
    margin: 0 auto;
}

/*
   User profile and products 
*/

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20%;
    gap:30px;
}

/*
    User profile
*/

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;

    padding: 10px 12px;
    width: 70%;
    height: 60%;

    text-align: center;

    background-color: #cfd8d8;
}

.profile--image {
    width: 100%;
    border-radius: 50%;
}

.user__stats{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 12px;
}

.stats__wrapper i{
    font-size: 16px;
}

/*
    Recipe icons and recipe image
*/

.article--img--icons {
    width: 50%;
}

.image {
    width: 100%;
    height: 500px;

    border-radius: 5px;
}

/*
    Icons styling
*/

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;

    margin-top: 30px;
    padding: 12px;

    background-color: #e4dede;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
    Buttons styling
*/

.btn {
    background-color: transparent;
    border: none;

    color: black;

    cursor: pointer;
    overflow: hidden;
}

.wrapper .btn i {
    font-size: 28px;
    padding: 5px;
    transition: 0.8s;
}

.wrapper .btn i:hover {
    transform: translateY(-4px);
    color: grey;
}

.wrapper i {
    font-size: 28px;
    padding: 5px;
}

.wrapper span {
    margin-top: 3px;
}

/*
    Products
*/

.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 
 .products h3 {
     font-size: 26px;
     font-weight: bold;
     letter-spacing: 3px;
 }
 
 .products ol{
     margin-top: 5px;
     padding: 0px;
 }
 
 .content li {
     font-size: 20px;
     line-height: 1.8;
     letter-spacing: 2px;
 }
 