/*
============================
  Main 3 Articles Section
============================
*/

.main-articles {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.main-articles .section-info {
    margin-bottom: 20px;
    /* type */
    text-align: center;
    line-height: 2;
    letter-spacing: 2px;
}

.section-info .descr {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.main-articles .title {
    font-size: 25px;
    font-weight: bolder;
}

/* Articles grid */

.main-articles .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* Article item */

.article-item {
    background-position: center center;
    background-size: cover;

    border-radius: 10px;
}

.image-grid .article-item .info {
    position: absolute;
    left: 50%;
    bottom: 10px;

    transform: translate(-50%, 0);
    z-index: 1;
}

.article-item:hover {
    -webkit-box-shadow: 5px 5px 17px 0px #000000;
    box-shadow: 5px 5px 17px 0px #000000;
}

/* Pseudo color overlay */

.article-item::after {
    /* position */
    content: '';
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    left: 0;
    /*box-model*/
    background: linear-gradient(180deg, rgba(219, 219, 100, 0) 11%, rgba(10, 10, 5, 0.9191877434567577) 85%);
}

/* Image hover effect */

.article-item {
    height: 100%;
    position: relative;
}

.article-item:hover {
    transform: scale(1.03);
    transition-duration: 1s;
}

/* Article fonts */

.image-grid .info h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--white);
    z-index: 1;
}

.image-grid .info p {
    color: var(--white);
    text-align: center;
}

.image-grid .info span {
    border-left: 1px solid var(--white);
    margin-left: 5px;
    padding-left: 5px;
}

/*
========================
  Rest Articles Section
========================
*/

.rest-articles-section {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
}

.rest-articles-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 0;
}

.rest-articles-list a {
    text-decoration: none;
    padding: 15px;
    color: var(--black);
}

/* Card */

.rest-articles-list .card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.rest-articles-list .card img {
    padding: 0px 15px 15px 0px;
    width: 35%;
    min-width: 200px;
    height: 100%;
}

.rest-articles-list .card .card__info {
    width: 60%;
}

.rest-articles-list li:not(:last-child) {
    border-bottom: 1px solid var(--grey);
}

.card__info h3 {
    margin-bottom: 5px;

    font-size: 20px;
    letter-spacing: 1px;
    color: var(--silver);
}

.card__info .date {
    margin-bottom: 5px;

    font-size: 16px;
    font-weight: bold;
    color: var(--silver);
}

.card__info span {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid var(--grey);
}

.card__info .descr {
    width: 80%;
    font-size: 18px;
    color: var(--silver);
}

/*
=====================
  Responsive design
=====================
*/

@media screen and (max-width:980px) {
    .image-grid {
        grid-template-columns: repeat(1, 400px);
    }

    .section-info .descr {
        width: 600px;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-width:760px) {
    .section-info .descr {
        width: 400px;
    }
}